In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
from datetime import datetime

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option("display.max_rows", None)

In [3]:
pd.reset_option("display.max_columns")
pd.reset_option("display.max_rows")

# **Obtención de la data**

Tenemos dos fuentes de datos diferentes:

**Dataset obtenido en Kaggle:**
    Fuente: https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores?select=PlayerStatistics.csv

Este Dataset cuenta con un total de 6 archivos, para efectos de este proyecto nos centraremos en tres de ellos:

1. PlayerStatistics.csv = Este archivo contiene los cuadros de resultados detallados de cada jugador en la historia de la NBA, partido por partido.
2. TeamStatistics.csv = Contiene un registro completo de los cuadros de resultados a nivel de equipo para cada partido jugado en la historia de la NBA.
3. Games.csv = Registros completos de todos los partidos de la NBA, incluidos los equipos locales y visitantes, los resultados de los partidos.
4. LeagueSchedule24_25.csv = El calendario completo de la temporada 2024-2025 de la NBA, incluidas las ubicaciones y los horarios de los partidos.
5. Players.csv = Información biográfica de cada jugador, incluida la altura, el peso y la posición.
6. TeamHistories.csv = Contiene los cambios de nombre, las reubicaciones y las expansiones de los equipos a lo largo de la historia de la liga.

Al ver en detalle el contenido de todas las tablas, decidimos trabajar solo con 3 de ellas:
1. PlayerStatistics.csv
2. TeamStatistics.csv
3. Players.csv

Porque consideramos que son las 3 que contienen la informacion relevante para nuestro proyecto: TeamStatistics, tiene toda la informacion desde la perspectiva de equipos. PlayerStatistics y Players que contienen toda la informacion detallada de los jugadores. Las 3 tablas estan relacionadas mediante alguno de estos ID: ID equipo, ID jugador y ID partido.

**La segunda fuente de datos la obtendremos mediante Web scrapping**

De esta Web sacaremos la información de los salarios dividida en dos dataframes, el de salarios por equipos y el salario por jugadores, para complementar la información del Dataset de Kaggle.

https://hoopshype.com/salaries/

**Importamos todos los CSV**

In [7]:
#Estos archivos los descargamos y leemos a nivel local, por lo que hay que actualizar la ruta segun tu dispositivo
TeamStatistics = pd.read_csv('TeamStatisticsDescargaEnero.csv', low_memory= False)
PlayerStatistics = pd.read_csv('PlayerStatisticsDescargaEnero.csv')
Players = pd.read_csv('Players.csv')

#El archivo TeamsStatistics arroja este warning porque la columna a la que hace referencia tiene datos 1 y 0, pero hay dos filas que tienen valores nulos, que serán eliminados en la limpieza.

**Hacemos el Scrapping para obtener los dataframes de salarios**

In [9]:
nba_salario_2024_2025 = pd.read_html('https://hoopshype.com/salaries/')
nba_salario_2023_2024 = pd.read_html('https://hoopshype.com/salaries/2023-2024')
nba_salario_2022_2023 = pd.read_html('https://hoopshype.com/salaries/2022-2023')
nba_salario_2021_2022 = pd.read_html('https://hoopshype.com/salaries/2021-2022')
nba_salario_2020_2021 = pd.read_html('https://hoopshype.com/salaries/2020-2021')
nba_salario_2019_2020 = pd.read_html('https://hoopshype.com/salaries/2019-2020')
nba_salario_2018_2019 = pd.read_html('https://hoopshype.com/salaries/2018-2019')
nba_salario_2017_2018 = pd.read_html('https://hoopshype.com/salaries/2017-2018')
nba_salario_2016_2017 = pd.read_html('https://hoopshype.com/salaries/2016-2017')
nba_salario_2015_2016 = pd.read_html('https://hoopshype.com/salaries/2015-2016')
nba_salario_2014_2015 = pd.read_html('https://hoopshype.com/salaries/2014-2015')
nba_salario_2013_2014 = pd.read_html('https://hoopshype.com/salaries/2013-2014')
nba_salario_2012_2013 = pd.read_html('https://hoopshype.com/salaries/2012-2013')
nba_salario_2011_2012 = pd.read_html('https://hoopshype.com/salaries/2011-2012')
nba_salario_2010_2011 = pd.read_html('https://hoopshype.com/salaries/2010-2011')
nba_salario_2009_2010 = pd.read_html('https://hoopshype.com/salaries/2009-2010')
nba_salario_2008_2009 = pd.read_html('https://hoopshype.com/salaries/2008-2009')
nba_salario_2007_2008 = pd.read_html('https://hoopshype.com/salaries/2007-2008')
nba_salario_2006_2007 = pd.read_html('https://hoopshype.com/salaries/2006-2007')
nba_salario_2005_2006 = pd.read_html('https://hoopshype.com/salaries/2005-2006')
nba_salario_2004_2005 = pd.read_html('https://hoopshype.com/salaries/2004-2005')
nba_salario_2003_2004 = pd.read_html('https://hoopshype.com/salaries/2003-2004')
nba_salario_2002_2003 = pd.read_html('https://hoopshype.com/salaries/2002-2003')
nba_salario_2001_2002 = pd.read_html('https://hoopshype.com/salaries/2001-2002')
nba_salario_2000_2001 = pd.read_html('https://hoopshype.com/salaries/2000-2001')

In [10]:
# URL para la temporada 2024-2025
url_2024_2025 = 'https://hoopshype.com/salaries/'
response_2024_2025 = requests.get(url_2024_2025)
soup_2024_2025 = BeautifulSoup(response_2024_2025.content, 'html.parser')

# Buscar la tabla
table_2024_2025 = soup_2024_2025.find('table')

# Extraer filas y encabezados
rows_2024_2025 = []
for tr in table_2024_2025.find_all('tr'):
    cells = [td.text.strip() for td in tr.find_all(['th', 'td'])]
    rows_2024_2025.append(cells)

# Crear el DataFrame
df_nba_salario_2024_2025 = pd.DataFrame(rows_2024_2025[1:], columns=rows_2024_2025[0])
df_nba_salario_2024_2025 = df_nba_salario_2024_2025.iloc[:, :-5]

# Mostrar las primeras filas
print(df_nba_salario_2024_2025.head())

            Team       2024/25
0  1.    Phoenix  $220,708,856
1  2.  Minnesota  $204,304,153
2  3.     Boston  $196,051,963
3  4.   New York  $192,251,829
4  5.  LA Lakers  $191,906,169

Transformamos en Data Frame

In [12]:
##transformacion en dataframes, pongo "0", porque cuando le haces un lend, muestra un solo objeto el cual es la tabla
df_nba_salario_2023_2024 =nba_salario_2023_2024[0]
df_nba_salario_2022_2023 =nba_salario_2022_2023[0]
df_nba_salario_2021_2022=nba_salario_2021_2022[0]
df_nba_salario_2020_2021=nba_salario_2020_2021[0]
df_nba_salario_2019_2020=nba_salario_2019_2020[0]
df_nba_salario_2018_2019=nba_salario_2018_2019[0]
df_nba_salario_2017_2018=nba_salario_2017_2018[0]
df_nba_salario_2016_2017=nba_salario_2016_2017[0]
df_nba_salario_2015_2016=nba_salario_2015_2016[0]
df_nba_salario_2014_2015=nba_salario_2014_2015[0]
df_nba_salario_2013_2014=nba_salario_2013_2014[0]
df_nba_salario_2012_2013=nba_salario_2012_2013[0]
df_nba_salario_2011_2012=nba_salario_2011_2012[0]
df_nba_salario_2010_2011=nba_salario_2010_2011[0]
df_nba_salario_2009_2010=nba_salario_2009_2010[0]
df_nba_salario_2008_2009=nba_salario_2008_2009[0]
df_nba_salario_2007_2008=nba_salario_2007_2008[0]
df_nba_salario_2006_2007=nba_salario_2006_2007[0]
df_nba_salario_2005_2006=nba_salario_2005_2006[0]
df_nba_salario_2004_2005=nba_salario_2004_2005[0]
df_nba_salario_2003_2004=nba_salario_2003_2004[0]
df_nba_salario_2002_2003=nba_salario_2002_2003[0]
df_nba_salario_2001_2002=nba_salario_2001_2002[0]
df_nba_salario_2000_2001=nba_salario_2000_2001[0]

In [13]:
dfNbaSalariesTeams = [
    df_nba_salario_2024_2025 ,
    df_nba_salario_2023_2024,
    df_nba_salario_2022_2023,
    df_nba_salario_2021_2022,
    df_nba_salario_2020_2021,
    df_nba_salario_2019_2020,
    df_nba_salario_2018_2019,
    df_nba_salario_2017_2018,
    df_nba_salario_2016_2017,
    df_nba_salario_2015_2016,
    df_nba_salario_2014_2015,
    df_nba_salario_2013_2014,
    df_nba_salario_2012_2013,
    df_nba_salario_2011_2012,
    df_nba_salario_2010_2011,
    df_nba_salario_2009_2010,
    df_nba_salario_2008_2009,
    df_nba_salario_2007_2008,
    df_nba_salario_2006_2007,
    df_nba_salario_2005_2006,
    df_nba_salario_2004_2005,
    df_nba_salario_2003_2004,
    df_nba_salario_2002_2003,
    df_nba_salario_2001_2002,
    df_nba_salario_2000_2001]
dfNbaSalariesTeams = [df.iloc[:, 1:] for df in dfNbaSalariesTeams]

In [14]:
#En la web hacen ajuste de salarios teniendo en cuenta la inflación, por lo tanto nos quedamos con el valor ajustado:
FilteredDataframeTeamSalaries = []

for df in dfNbaSalariesTeams:
    if not df.empty:
        # Mantener siempre la columna 'Team' si existe
        columns_to_keep0 = ['Team'] if 'Team' in df.columns else []

        # Filtrar las columnas con asterisco
        columns_with_asterisk0 = [col for col in df.columns if '*' in col]

        # Combinar columnas relevantes
        columns_to_keep0.extend(columns_with_asterisk0)

        # Filtrar el DataFrame solo con las columnas seleccionadas
        if columns_to_keep0:
            FilteredDataframeTeamSalaries.append(df[columns_to_keep0])

# Mostrar el resultado del primer DataFrame filtrado
if FilteredDataframeTeamSalaries:
    print(FilteredDataframeTeamSalaries)

[             Team
0         Phoenix
1       Minnesota
2          Boston
3        New York
4       LA Lakers
5          Denver
6       Milwaukee
7          Dallas
8    Golden State
9           Miami
10    New Orleans
11    LA Clippers
12        Toronto
13     Sacramento
14      Cleveland
15   Philadelphia
16     Washington
17       Brooklyn
18        Houston
19        Atlanta
20        Indiana
21       Portland
22        Chicago
23  Oklahoma City
24        Memphis
25    San Antonio
26      Charlotte
27           Utah
28        Orlando
29        Detroit,              Team    2023/24(*)
0    Golden State  $215,575,491
1     LA Clippers  $207,350,074
2         Phoenix  $199,598,596
3       Milwaukee  $192,913,480
4          Boston  $192,495,669
5          Denver  $186,298,923
6           Miami  $182,407,172
7       LA Lakers  $174,924,626
8          Dallas  $172,740,566
9     New Orleans  $172,378,150
10      Cleveland  $171,832,777
11      Minnesota  $171,379,743
12   Philadelphia  $171,212,482
13        Chicago  $170,551,964
14       Portland  $170,174,630
15       New York  $169,893,032
16        Toronto  $167,899,669
17        Memphis  $167,482,470
18  Oklahoma City  $167,344,233
19        Atlanta  $163,882,464
20       Brooklyn  $159,621,241
21     Sacramento  $158,127,009
22     Washington  $155,338,839
23        Houston  $153,794,701
24        Indiana  $153,141,451
25    San Antonio  $147,112,925
26        Detroit  $143,370,164
27      Charlotte  $139,808,870
28           Utah  $137,712,338
29        Orlando  $136,584,956,              Team    2022/23(*)
0     LA Clippers  $204,535,294
1    Golden State  $203,984,702
2       Milwaukee  $193,959,293
3          Boston  $189,402,747
4          Dallas  $187,929,929
5         Phoenix  $186,655,694
6       LA Lakers  $179,603,738
7          Denver  $172,125,732
8        Brooklyn  $169,186,672
9      Washington  $161,173,239
10      Cleveland  $161,127,975
11        Chicago  $161,126,647
12          Miami  $160,536,360
13        Toronto  $160,095,330
14   Philadelphia  $159,570,063
15        Atlanta  $158,869,639
16       New York  $157,970,114
17  Oklahoma City  $157,830,582
18           Utah  $157,705,365
19    New Orleans  $157,305,287
20      Minnesota  $154,583,256
21       Portland  $153,738,833
22     Sacramento  $147,829,176
23        Houston  $145,874,191
24        Detroit  $136,939,969
25        Memphis  $134,804,500
26        Orlando  $133,710,077
27      Charlotte  $133,462,735
28        Indiana  $133,284,674
29    San Antonio  $110,848,194,              Team    2021/22(*)
0    Golden State  $206,963,957
1        Brooklyn  $202,143,321
2     LA Clippers  $194,703,915
3       LA Lakers  $190,114,264
4       Milwaukee  $186,027,881
5            Utah  $173,175,425
6    Philadelphia  $172,206,695
7           Miami  $162,860,249
8         Indiana  $159,785,807
9          Denver  $159,534,234
10      Minnesota  $158,919,956
11         Boston  $157,908,082
12        Phoenix  $157,814,221
13      Cleveland  $157,709,500
14        Chicago  $157,360,165
15    New Orleans  $157,025,005
16        Atlanta  $156,298,879
17        Toronto  $155,987,201
18        Houston  $152,946,704
19        Detroit  $151,620,682
20     Sacramento  $150,854,598
21     Washington  $148,035,352
22    San Antonio  $147,613,994
23        Orlando  $146,609,408
24         Dallas  $146,505,707
25       Portland  $144,298,828
26      Charlotte  $141,235,777
27       New York  $139,506,473
28        Memphis  $135,621,576
29  Oklahoma City   $94,846,931,              Team    2020/21(*)
0    Golden State  $208,524,600
1        Brooklyn  $207,719,404
2    Philadelphia  $180,153,433
3     LA Clippers  $170,278,736
4       LA Lakers  $169,806,014
5            Utah  $166,816,089
6       Milwaukee  $166,502,403
7           Miami  $164,195,796
8     New Orleans  $163,184,598
9          Boston  $162,002,554
10        Memphis  $160,894,802
11       Portland  $160,751,057
12        Houston  $160,604,330
13     Washington  $160,006,880
14      Minnesota  $158,838,062
15        Indiana  $158,718,834
16         Denver  $158,177,865
17      Cleveland  $157,948,883
18    San Antonio  $157,866,628
19        Toronto  $157,371,946
20        Chicago  $157,166,804
21        Phoenix  $157,038,429
22         Dallas  $155,575,488
23        Orlando  $148,362,466
24        Atlanta  $144,785,431
25        Detroit  $142,637,587
26      Charlotte  $131,885,330
27     Sacramento  $130,214,040
28       New York  $124,473,662
29  Oklahoma City  $116,719,963,              Team    2019/20(*)
0   Oklahoma City  $161,928,040
1        Portland  $161,881,448
2     LA Clippers  $161,300,533
3       Cleveland  $160,751,868
4    Philadelphia  $159,345,395
5           Miami  $159,290,850
6    Golden State  $158,539,039
7          Denver  $157,915,026
8         Houston  $157,134,618
9         Orlando  $154,663,944
10      LA Lakers  $152,058,818
11      Milwaukee  $150,391,306
12        Toronto  $150,208,932
13     Washington  $148,777,244
14         Dallas  $148,255,740
15    San Antonio  $146,227,313
16           Utah  $145,850,738
17       Brooklyn  $145,825,752
18    New Orleans  $144,572,641
19         Boston  $144,438,990
20      Minnesota  $140,076,911
21     Sacramento  $139,578,905
22        Indiana  $138,444,699
23        Chicago  $138,113,087
24        Atlanta  $135,783,499
25        Detroit  $128,209,432
26       New York  $122,940,807
27        Phoenix  $120,864,909
28        Memphis  $120,811,153
29      Charlotte  $118,426,946,              Team    2018/19(*)
0           Miami  $190,971,244
1    Golden State  $182,393,116
2   Oklahoma City  $180,678,980
3         Toronto  $171,798,667
4       Milwaukee  $163,314,041
5        Portland  $162,401,395
6         Detroit  $157,789,962
7         Houston  $157,685,445
8          Boston  $156,265,226
9         Memphis  $156,082,748
10     Washington  $154,286,083
11       New York  $153,837,075
12      Cleveland  $153,672,019
13      Minnesota  $152,060,122
14    San Antonio  $151,594,536
15      Charlotte  $151,393,892
16       Brooklyn  $148,180,613
17         Denver  $147,527,819
18    LA Clippers  $147,153,532
19    New Orleans  $144,692,315
20   Philadelphia  $143,538,306
21        Orlando  $142,624,476
22           Utah  $141,916,235
23        Chicago  $140,385,239
24        Indiana  $138,049,525
25        Phoenix  $135,516,107
26      LA Lakers  $133,686,642
27     Sacramento  $126,506,975
28         Dallas  $108,418,636
29        Atlanta   $98,720,177,              Team    2017/18(*)
0       Cleveland  $176,641,010
1    Golden State  $176,496,341
2   Oklahoma City  $172,551,767
3           Miami  $171,384,276
4      Washington  $158,150,619
5     New Orleans  $154,954,494
6       Milwaukee  $154,578,435
7         Houston  $153,788,726
8         Detroit  $153,618,991
9     LA Clippers  $152,746,604
10       Portland  $152,252,982
11      Charlotte  $150,552,943
12        Toronto  $149,971,558
13      Minnesota  $148,875,924
14         Boston  $147,862,224
15    San Antonio  $147,027,354
16        Memphis  $141,982,062
17         Denver  $137,933,530
18           Utah  $135,449,473
19       New York  $135,188,201
20      LA Lakers  $132,268,307
21   Philadelphia  $129,280,953
22        Atlanta  $128,248,869
23     Sacramento  $127,728,771
24        Orlando  $126,591,215
25       Brooklyn  $122,455,063
26        Indiana  $122,193,851
27        Phoenix  $118,874,973
28        Chicago  $116,031,124
29         Dallas  $109,584,150,              Team    2016/17(*)
0       Cleveland  $167,533,343
1        Portland  $156,074,952
2     LA Clippers  $149,589,264
3     San Antonio  $146,018,902
4         Memphis  $143,497,530
5         Toronto  $141,563,674
6         Detroit  $138,817,154
7         Orlando  $135,693,836
8      Washington  $135,589,072
9       Charlotte  $134,334,324
10       New York  $133,733,931
11         Dallas  $133,423,098
12    New Orleans  $132,460,421
13   Golden State  $132,419,209
14          Miami  $131,318,946
15        Atlanta  $125,550,017
16      Milwaukee  $125,459,700
17     Sacramento  $124,612,990
18      LA Lakers  $123,551,292
19         Boston  $121,835,160
20        Chicago  $120,605,903
21  Oklahoma City  $118,921,455
22        Houston  $118,564,259
23        Indiana  $117,681,770
24        Phoenix  $116,998,090
25   Philadelphia  $110,507,474
26         Denver  $109,283,609
27      Minnesota  $108,880,975
28       Brooklyn  $107,400,033
29           Utah  $104,462,798,              Team    2015/16(*)
0       Cleveland  $142,581,211
1     LA Clippers  $127,729,210
2   Oklahoma City  $126,003,321
3    Golden State  $123,319,143
4     San Antonio  $115,634,895
5         Houston  $115,202,044
6         Chicago  $114,635,645
7           Miami  $112,912,227
8      Washington  $111,977,978
9     New Orleans  $110,206,207
10        Memphis  $109,567,043
11       Brooklyn  $105,662,759
12        Detroit  $101,710,148
13         Boston  $101,559,937
14      Charlotte  $101,188,788
15         Dallas   $99,262,779
16       New York   $97,735,540
17      Milwaukee   $97,217,512
18      LA Lakers   $95,704,564
19         Denver   $95,565,893
20      Minnesota   $95,168,593
21        Atlanta   $94,345,122
22        Indiana   $94,270,703
23        Toronto   $94,252,213
24     Sacramento   $92,961,183
25        Phoenix   $89,649,840
26   Philadelphia   $85,025,979
27           Utah   $83,742,634
28        Orlando   $83,204,468
29       Portland   $81,211,451,              Team    2014/15(*)
0        Brooklyn  $115,757,521
1     LA Clippers  $112,385,865
2          Dallas  $111,806,900
3       Cleveland  $108,870,827
4        New York  $107,257,909
5         Toronto  $107,190,349
6   Oklahoma City  $105,991,554
7     New Orleans  $105,470,012
8       LA Lakers  $102,218,941
9         Houston  $101,299,920
10          Miami   $99,933,961
11        Memphis   $99,071,471
12        Indiana   $98,590,073
13   Golden State   $97,031,531
14     Sacramento   $96,725,589
15     Washington   $96,717,556
16    San Antonio   $93,286,684
17       Portland   $92,188,171
18      Minnesota   $91,452,780
19        Chicago   $88,863,554
20        Detroit   $88,858,270
21      Charlotte   $88,043,990
22         Boston   $82,014,153
23           Utah   $80,206,983
24        Orlando   $78,601,027
25        Atlanta   $76,875,642
26        Phoenix   $76,478,074
27         Denver   $74,898,435
28      Milwaukee   $71,804,662
29   Philadelphia   $71,649,503,              Team    2013/14(*)
0        Brooklyn  $138,032,757
1        New York  $119,845,658
2           Miami  $108,770,784
3       LA Lakers  $104,171,929
4          Dallas  $100,927,363
5         Chicago   $98,673,324
6     LA Clippers   $98,287,014
7    Golden State   $97,551,504
8         Memphis   $96,864,987
9   Oklahoma City   $96,408,221
10        Toronto   $96,284,761
11         Boston   $95,375,029
12      Minnesota   $92,251,548
13    New Orleans   $90,629,716
14        Indiana   $90,392,597
15      Cleveland   $89,681,710
16         Denver   $88,508,456
17     Washington   $87,050,973
18    San Antonio   $84,921,200
19        Detroit   $83,941,045
20       Portland   $82,424,578
21      Charlotte   $81,261,143
22     Sacramento   $79,617,644
23        Atlanta   $79,381,541
24        Houston   $77,799,775
25        Orlando   $76,622,437
26           Utah   $76,573,958
27        Phoenix   $74,767,608
28      Milwaukee   $73,195,250
29   Philadelphia   $69,616,898,              Team    2012/13(*)
0       LA Lakers  $137,089,243
1        Brooklyn  $119,993,008
2           Miami  $110,112,709
3        New York  $109,495,505
4          Boston  $103,377,445
5         Chicago  $101,984,922
6    Golden State   $95,886,612
7     San Antonio   $95,615,008
8          Dallas   $95,516,384
9     LA Clippers   $94,675,978
10  Oklahoma City   $94,362,978
11        Detroit   $94,203,339
12        Atlanta   $91,331,928
13   Philadelphia   $91,315,035
14        Orlando   $91,122,895
15        Indiana   $90,506,393
16           Utah   $89,890,814
17      Minnesota   $88,072,913
18    New Orleans   $87,805,656
19        Toronto   $87,221,879
20         Denver   $86,860,600
21        Memphis   $86,326,467
22      Milwaukee   $85,444,675
23     Washington   $81,755,667
24       Portland   $81,381,987
25      Charlotte   $79,574,756
26      Cleveland   $74,577,074
27     Sacramento   $74,508,274
28        Phoenix   $74,199,312
29        Houston   $65,782,172,              Team    2011/12(*)
0       LA Lakers  $122,852,404
1         Orlando  $122,422,356
2        Portland  $112,630,867
3         Phoenix  $112,240,948
4          Boston  $111,099,553
5          Dallas  $107,424,610
6        New York  $107,303,490
7           Miami  $105,043,691
8     San Antonio  $102,626,190
9         Atlanta  $102,538,712
10        Detroit   $98,716,216
11        Memphis   $98,304,784
12        Chicago   $96,802,179
13    LA Clippers   $93,719,111
14   Philadelphia   $92,799,060
15    New Orleans   $91,085,170
16       Brooklyn   $90,862,784
17      Cleveland   $90,298,196
18   Golden State   $85,706,846
19      Milwaukee   $83,779,789
20  Oklahoma City   $82,818,457
21         Denver   $81,498,221
22           Utah   $80,976,053
23      Charlotte   $80,591,909
24        Houston   $79,366,691
25      Minnesota   $79,119,753
26     Washington   $77,090,417
27        Toronto   $76,640,434
28        Indiana   $71,756,418
29     Sacramento   $68,132,210,              Team    2010/11(*)
0       LA Lakers  $131,784,621
1         Orlando  $130,837,132
2          Dallas  $123,109,908
3          Boston  $118,261,000
4            Utah  $109,337,903
5        Portland  $107,505,539
6         Houston  $104,235,859
7         Atlanta  $103,016,707
8         Memphis  $101,245,942
9         Toronto  $100,887,473
10    San Antonio  $100,209,529
11      Milwaukee   $99,567,212
12   Philadelphia   $99,334,506
13   Golden State   $98,613,937
14    New Orleans   $98,347,842
15         Denver   $98,043,075
16       New York   $96,597,741
17      Charlotte   $95,914,708
18          Miami   $95,429,186
19        Phoenix   $95,102,276
20        Detroit   $94,437,456
21        Indiana   $93,818,815
22       Brooklyn   $84,316,177
23     Washington   $84,069,696
24  Oklahoma City   $80,606,733
25        Chicago   $78,611,238
26      Cleveland   $77,821,270
27      Minnesota   $77,058,915
28    LA Clippers   $76,719,041
29     Sacramento   $65,250,009,              Team    2009/10(*)
0       LA Lakers  $133,099,830
1          Dallas  $129,513,735
2        New York  $124,843,928
3          Boston  $121,700,763
4       Cleveland  $121,476,973
5         Orlando  $119,732,542
6     San Antonio  $115,562,913
7          Denver  $109,149,909
8           Miami  $108,090,206
9      Washington  $106,971,929
10           Utah  $104,736,033
11    New Orleans  $102,199,509
12        Chicago  $101,524,429
13        Houston  $100,643,130
14      Charlotte  $100,040,750
15        Toronto   $98,789,072
16     Sacramento   $98,342,313
17      Milwaukee   $97,264,272
18        Indiana   $97,202,595
19        Atlanta   $95,965,060
20   Golden State   $95,191,218
21        Phoenix   $95,098,250
22   Philadelphia   $94,508,194
23      Minnesota   $90,677,248
24    LA Clippers   $89,749,472
25        Detroit   $87,665,722
26       Brooklyn   $86,472,605
27  Oklahoma City   $85,324,671
28        Memphis   $83,444,016
29       Portland   $82,947,009,              Team    2008/09(*)
0        New York  $138,761,126
1          Dallas  $136,466,588
2       Cleveland  $131,086,171
3        Portland  $115,237,541
4          Boston  $113,699,674
5       LA Lakers  $112,345,455
6         Phoenix  $109,308,179
7         Toronto  $105,455,296
8         Houston  $105,247,535
9         Detroit  $102,565,318
10      Milwaukee  $102,459,760
11     Washington  $101,573,383
12          Miami  $100,932,646
13         Denver  $100,679,866
14        Orlando  $100,036,590
15        Indiana  $100,030,616
16     Sacramento   $99,363,963
17  Oklahoma City   $98,125,000
18   Philadelphia   $98,066,709
19        Atlanta   $97,876,948
20        Chicago   $97,816,546
21    San Antonio   $97,663,939
22    New Orleans   $96,960,857
23   Golden State   $96,796,633
24      Minnesota   $95,402,059
25           Utah   $94,535,211
26      Charlotte   $90,264,446
27    LA Clippers   $90,116,959
28       Brooklyn   $89,976,708
29        Memphis   $80,344,805,              Team    2007/08(*)
0          Dallas  $153,346,197
1        New York  $145,045,534
2          Denver  $125,093,110
3       Cleveland  $123,976,286
4           Miami  $112,742,426
5          Boston  $112,353,166
6    Philadelphia  $111,642,599
7        Portland  $110,440,960
8       LA Lakers  $109,514,294
9         Phoenix  $107,548,369
10    San Antonio  $105,626,500
11        Houston  $105,393,668
12      Minnesota  $104,111,617
13        Indiana   $99,914,141
14        Toronto   $99,585,611
15        Detroit   $99,369,227
16     Washington   $98,434,512
17           Utah   $97,952,121
18    LA Clippers   $97,784,525
19     Sacramento   $95,606,024
20        Chicago   $95,124,917
21    New Orleans   $94,409,903
22      Milwaukee   $94,351,897
23   Golden State   $93,713,720
24       Brooklyn   $93,243,117
25  Oklahoma City   $91,773,175
26        Orlando   $87,708,746
27        Atlanta   $83,690,424
28        Memphis   $81,605,579
29      Charlotte   $81,043,047,              Team    2006/07(*)
0        New York  $181,708,756
1          Dallas  $137,084,724
2       LA Lakers  $119,383,317
3        Portland  $116,172,564
4    Philadelphia  $107,058,200
5       Minnesota  $103,466,650
6         Phoenix  $101,949,887
7     San Antonio  $101,660,643
8          Denver  $101,449,214
9    Golden State  $100,666,627
10       Brooklyn   $99,851,759
11          Miami   $99,743,680
12     Sacramento   $99,558,332
13        Houston   $98,847,540
14      Milwaukee   $98,322,546
15        Indiana   $97,734,838
16      Cleveland   $97,539,374
17         Boston   $97,521,952
18     Washington   $97,138,293
19           Utah   $96,566,397
20        Memphis   $95,941,029
21        Orlando   $95,146,097
22    LA Clippers   $91,637,263
23        Detroit   $91,373,899
24  Oklahoma City   $88,239,703
25        Chicago   $84,783,736
26    New Orleans   $83,226,157
27        Toronto   $78,993,543
28        Atlanta   $75,225,427
29      Charlotte   $64,978,079,              Team    2005/06(*)
0        New York  $204,546,649
1          Dallas  $159,033,650
2    Philadelphia  $136,988,851
3         Indiana  $127,272,009
4         Orlando  $122,414,821
5       LA Lakers  $117,784,029
6         Houston  $111,871,172
7         Memphis  $109,073,698
8        Brooklyn  $107,335,339
9     San Antonio  $102,684,776
10      Milwaukee  $101,799,984
11     Sacramento  $101,459,903
12        Toronto  $100,813,637
13      Minnesota   $99,874,021
14          Miami   $98,100,857
15       Portland   $96,946,748
16        Detroit   $96,302,746
17           Utah   $92,674,189
18        Chicago   $92,340,837
19   Golden State   $92,256,901
20         Boston   $91,922,105
21         Denver   $91,251,553
22     Washington   $88,123,976
23        Phoenix   $86,623,329
24    LA Clippers   $82,959,386
25      Cleveland   $82,871,059
26  Oklahoma City   $79,558,761
27        Atlanta   $69,368,140
28    New Orleans   $66,675,548
29      Charlotte   $54,046,059,              Team    2004/05(*)
0        New York  $169,869,031
1          Dallas  $152,215,779
2        Portland  $138,573,706
3    Philadelphia  $119,164,363
4       Minnesota  $116,136,117
5         Memphis  $110,981,159
6         Orlando  $110,044,463
7         Indiana  $109,414,339
8       LA Lakers  $107,748,764
9          Boston  $106,950,918
10     Sacramento  $102,363,887
11        Toronto  $102,191,785
12        Houston   $99,840,903
13          Miami   $98,580,937
14      Milwaukee   $95,143,914
15        Chicago   $94,858,859

In [15]:
# Desempaquetar la lista de filtered_dataframes
Dataframes0 = [df_nba_salario_2024_2025] + FilteredDataframeTeamSalaries

In [16]:
# Realizar el merge sucesivamente, ya que tenemos los df
mergedDfTeams = Dataframes0[0]
for df2 in Dataframes0[1:]:
    mergedDfTeams = pd.merge(mergedDfTeams, df2, on='Team', how='left')
mergedDfTeams = mergedDfTeams.drop(mergedDfTeams.columns[0], axis=1)

mergedDfTeams

,Team,2024/25,2023/24(*),2022/23(*),2021/22(*),2020/21(*),2019/20(*),2018/19(*),2017/18(*),2016/17(*),...,2009/10(*),2008/09(*),2007/08(*),2006/07(*),2005/06(*),2004/05(*),2003/04(*),2002/03(*),2001/02(*),2000/01(*)
0,Phoenix,"$220,708,856","$199,598,596","$186,655,694","$157,814,221","$157,038,429","$120,864,909","$135,516,107","$118,874,973","$116,998,090",...,"$95,098,250","$109,308,179","$107,548,369","$101,949,887","$86,623,329","$73,862,884","$114,470,809","$96,444,346","$99,894,176","$98,236,801"
1,Minnesota,"$204,304,153","$171,379,743","$154,583,256","$158,919,956","$158,838,062","$140,076,911","$152,060,122","$148,875,924","$108,880,975",...,"$90,677,248","$95,402,059","$104,111,617","$103,466,650","$99,874,021","$116,136,117","$121,893,806","$103,942,847","$97,242,068","$86,541,172"
2,Boston,"$196,051,963","$192,495,669","$189,402,747","$157,908,082","$162,002,554","$144,438,990","$156,265,226","$147,862,224","$121,835,160",...,"$121,700,763","$113,699,674","$112,353,166","$97,521,952","$91,922,105","$106,950,918","$102,933,630","$91,769,470","$83,866,497","$93,812,764"
3,New York,"$192,251,829","$169,893,032","$157,970,114","$139,506,473","$124,473,662","$122,940,807","$153,837,075","$135,188,201","$133,733,931",...,"$124,843,928","$138,761,126","$145,045,534","$181,708,756","$204,546,649","$169,869,031","$152,974,005","$163,203,998","$151,780,123","$134,868,788"
4,LA Lakers,"$191,906,169","$174,924,626","$179,603,738","$190,114,264","$169,806,014","$152,058,818","$133,686,642","$132,268,307","$123,551,292",...,"$133,099,830","$112,345,455","$109,514,294","$119,383,317","$117,784,029","$107,748,764","$109,667,222","$110,286,387","$95,773,977","$107,461,347"
5,Denver,"$185,864,258","$186,298,923","$172,125,732","$159,534,234","$158,177,865","$157,915,026","$147,527,819","$137,933,530","$109,283,609",...,"$109,149,909","$100,679,866","$125,093,110","$101,449,214","$91,251,553","$76,352,236","$67,381,969","$85,763,667","$96,124,258","$95,107,581"
6,Milwaukee,"$185,323,374","$192,913,480","$193,959,293","$186,027,881","$166,502,403","$150,391,306","$163,314,041","$154,578,435","$125,459,700",...,"$97,264,272","$102,459,760","$94,351,897","$98,322,546","$101,799,984","$95,143,914","$91,036,902","$101,281,964","$99,237,401","$105,367,649"
7,Dallas,"$178,518,805","$172,740,566","$187,929,929","$146,505,707","$155,575,488","$148,255,740","$108,418,636","$109,584,150","$133,423,098",...,"$129,513,735","$136,466,588","$153,346,197","$137,084,724","$159,033,650","$152,215,779","$136,028,569","$127,382,002","$102,301,160","$95,263,612"
8,Golden State,"$177,010,942","$215,575,491","$203,984,702","$206,963,957","$208,524,600","$158,539,039","$182,393,116","$176,496,341","$132,419,209",...,"$95,191,218","$96,796,633","$93,713,720","$100,666,627","$92,256,901","$90,996,010","$91,288,107","$83,368,514","$84,158,566","$77,200,694"
9,Miami,"$176,102,077","$182,407,172","$160,536,360","$162,860,249","$164,195,796","$159,290,850","$190,971,244","$171,384,276","$131,318,946",...,"$108,090,206","$100,932,646","$112,742,426","$99,743,680","$98,100,857","$98,580,937","$80,979,792","$100,204,748","$94,166,335","$133,893,083"
10,New Orleans,"$174,943,629","$172,378,150","$157,305,287","$157,025,005","$163,184,598","$144,572,641","$144,692,315","$154,954,494","$132,460,421",...,"$102,199,509","$96,960,857","$94,409,903","$83,226,157","$66,675,548","$93,694,167","$85,171,353","$77,642,401",NaN,NaN
11,LA Clippers,"$172,948,776","$207,350,074","$204,535,294","$194,703,915","$170,278,736","$161,300,533","$147,153,532","$152,746,604","$149,589,264",...,"$89,749,472","$90,116,959","$97,784,525","$91,637,263","$82,959,386","$75,327,905","$66,895,771","$75,017,395","$59,746,073","$53,953,147"
12,Toronto,"$172,585,505","$167,899,669","$160,095,330","$155,987,201","$157,371,946","$150,208,932","$171,798,667","$149,971,558","$141,563,674",...,"$98,789,072","$105,455,296","$99,585,611","$78,993,543","$100,813,637","$102,191,785","$107,803,308","$96,764,156","$92,941,360","$69,821,464"
13,Sacramento,"$172,418,682","$158,127,009","$147,829,176","$150,854,598","$130,214,040","$139,578,905","$126,506,975","$127,728,771","$124,612,990",...,"$98,342,313","$99,363,963","$95,606,024","$99,558,332","$101,459,903","$102,363,887","$116,935,391","$122,974,612","$96,937,124","$84,313,862"
14,Cleveland,"$172,032,146","$171,832,777","$161,127,975","$157,709,500","$157,948,883","$160,751,868","$153,672,019","$176,641,010","$167,533,343",...,"$121,476,973","$131,086,171","$123,976,286","$97,539,374","$82,871,059","$81,442,491","$78,990,929","$86,639,028","$80,573,481","$90,718,111"
15,Philadelphia,"$171,682,495","$171,212,482","$159,570,063","$172,206,695","$180,153,433","$159,345,395","$143,538,306","$129,280,953","$110,507,474",...,"$94,508,194","$98,066,709","$111,642,599","$107,058,200","$136,988,851","$119,164,363","$103,318,722","$113,205,131","$102,501,114","$93,096,125"
16,Washington,"$171,387,013","$155,338,839","$161,173,239","$148,035,352","$160,006,880","$148,777,244","$154,286,083","$158,150,619","$135,589,072",...,"$106,971,929","$101,573,383","$98,434,512","$97,138,293","$88,123,976","$82,472,254","$78,129,691","$81,540,872","$96,681,321","$107,675,943"
17,Brooklyn,"$170,895,720","$159,621,241","$169,186,672","$202,143,321","$207,719,404","$145,825,752","$148,180,613","$122,455,063","$107,400,033",...,"$86,472,605","$89,976,708","$93,243,117","$99,851,759","$107,335,339","$91,062,680","$108,938,716","$105,504,321","$132,719,005","$125,702,023"
18,Houston,"$169,540,937","$153,794,701","$145,874,191","$152,946,704","$160,604,330","$157,134,618","$157,685,445","$153,788,726","$118,564,259",...,"$100,643,130","$105,247,535","$105,393,668","$98,847,540","$111,871,172","$99,840,903","$94,750,913","$87,635,848","$86,783,192","$89,811,961"
19,Atlanta,"$169,460,696","$163,882,464","$158,869,639","$156,298,879","$144,785,431","$135,783,499","$98,720,177","$128,248,869","$125,550,017",...,"$95,965,060","$97,876,948","$83,690,424","$75,225,427","$69,368,140","$68,001,599","$110,307,297","$97,293,910","$90,943,431","$71,613,539"
20,Indiana,"$169,210,858","$153,141,451","$133,284,674","$159,785,807","$158,718,834","$138,444,699","$138,049,525","$122,193,851","$117,681,770",...,"$97,202,595","$100,030,616","$99,914,141","$97,734,838","$127,272,009","$109,414,339","$99,462,352","$93,383,357","$94,250,058","$100,386,811"
21,Portland,"$169,031,747","$170,174,630","$153,738,833","$144,298,828","$160,751,057","$161,881,448","$162,401,395","$152,252,982","$156,074,952",...,"$82,947,009","$115,237,541","$110,440,960","$116,172,564","$96,946,748","$138,573,706","$141,877,741","$184,410,864","$148,779,239","$159,265,467"
22,Chicago,"$167,974,174","$170,551,964","$161,126,647","$157,360,165","$157,166,804","$138,113,087","$140,385,239","$116,031,124","$120,605,903",...,"$101,524,429","$97,816,546","$95,124,917","$84,783,736","$92,340,837","$94,858,859","$94,902,043","$77,768,511","$75,177,581","$54,109,356"
23,Oklahoma City,"$167,471,133","$167,344,233","$157,830,582","$94,846,931","$116,719,963","$161,928,040","$180,678,980","$172,551,767","$118,921,455",...,"$85,324,671","$98,125,000","$91,773,175","$88,239,703","$79,558,761","$89,137,089","$89,527,854","$92,850,981","$80,408,908","$93,922,022"
24,Memphis,"$165,234,903","$167,482,470","$134,804,500","$135,621,576","$160,894,802","$120,811,153","$156,082,748","$141,982,062","$143,497,530",...,"$83,444,016","$80,344,805","$81,605,579","$95,941,029","$109,073,698","$110,981,159","$98,131,916","$106,545,607","$89,876,337","$89,113,143"
25,San Antonio,"$163,847,022","$147,112,925","$110,848,194","$147,613,994","$157,866,628","$146,227,313","$151,594,536","$147,027,354","$146,018,902",...,"$115,562,913","$97,663,939","$105,626,500","$101,660,643","$102,684,776","$78,674,784","$79,465,681","$92,877,317","$80,917,378","$104,268,072"
26,Charlotte,"$162,932,262","$139,808,870","$133,462,735","$141,235,777","$131,885,330","$118,426,946","$151,393,892","$150,552,943","$134,334,324",...,"$100,040,750","$90,264,446","$81,043,047","$64,978,079","$54,046,059","$39,619,793",NaN,NaN,"$88,250,416","$84,633,265"
27,Utah,"$156,115,293","$137,712,338","$157,705,365","$173,175,425","$166,816,089","$145,850,738","$141,916,235","$135,449,473","$104,462,798",...,"$104,736,033","$94,535,211","$97,952,121","$96,566,397","$92,674,189","$72,069,385","$59,427,594","$88,951,559","$92,915,243","$98,214,049"
28,Orlando,"$151,728,562","$136,584,956","$133,710,077","$146,609,408","$148,362,466","$154,663,944","$142,624,476","$126,591,215","$135,693,836",...,"$119,732,542","$100,036,590","$87,708,746","$95,146,097","$122,414,821","$110,044,463","$86,519,404","$88,079,618","$81,163,046","$68,265,371"
29,Detroit,"$140,746,162","$143,370,164","$136,939,969","$151,620,682","$142,637,587","$128,209,432","$157,789,962","$153,618,991","$138,817,154",...,"$87,665,722","$102,565,318","$99,369,227","$91,373,899","$96,302,746","$90,695,840","$91,401,203","$83,438,667","$74,868,385","$73,760,660"

In [17]:
mergedDfTeams.columns = mergedDfTeams.columns.str.replace('*', '', regex=False)  # Eliminar asteriscos
mergedDfTeams.columns = mergedDfTeams.columns.str.replace('(', '', regex=False)  # Eliminar paréntesis (
mergedDfTeams.columns = mergedDfTeams.columns.str.replace(')', '', regex=False)  # Eliminar paréntesis )
mergedDfTeams = mergedDfTeams.replace(',', '', regex=True)  # Eliminar las comas de los numeros
# Mostrar el resultado final
mergedDfTeams

,Team,2024/25,2023/24,2022/23,2021/22,2020/21,2019/20,2018/19,2017/18,2016/17,...,2009/10,2008/09,2007/08,2006/07,2005/06,2004/05,2003/04,2002/03,2001/02,2000/01
0,Phoenix,$220708856,$199598596,$186655694,$157814221,$157038429,$120864909,$135516107,$118874973,$116998090,...,$95098250,$109308179,$107548369,$101949887,$86623329,$73862884,$114470809,$96444346,$99894176,$98236801
1,Minnesota,$204304153,$171379743,$154583256,$158919956,$158838062,$140076911,$152060122,$148875924,$108880975,...,$90677248,$95402059,$104111617,$103466650,$99874021,$116136117,$121893806,$103942847,$97242068,$86541172
2,Boston,$196051963,$192495669,$189402747,$157908082,$162002554,$144438990,$156265226,$147862224,$121835160,...,$121700763,$113699674,$112353166,$97521952,$91922105,$106950918,$102933630,$91769470,$83866497,$93812764
3,New York,$192251829,$169893032,$157970114,$139506473,$124473662,$122940807,$153837075,$135188201,$133733931,...,$124843928,$138761126,$145045534,$181708756,$204546649,$169869031,$152974005,$163203998,$151780123,$134868788
4,LA Lakers,$191906169,$174924626,$179603738,$190114264,$169806014,$152058818,$133686642,$132268307,$123551292,...,$133099830,$112345455,$109514294,$119383317,$117784029,$107748764,$109667222,$110286387,$95773977,$107461347
5,Denver,$185864258,$186298923,$172125732,$159534234,$158177865,$157915026,$147527819,$137933530,$109283609,...,$109149909,$100679866,$125093110,$101449214,$91251553,$76352236,$67381969,$85763667,$96124258,$95107581
6,Milwaukee,$185323374,$192913480,$193959293,$186027881,$166502403,$150391306,$163314041,$154578435,$125459700,...,$97264272,$102459760,$94351897,$98322546,$101799984,$95143914,$91036902,$101281964,$99237401,$105367649
7,Dallas,$178518805,$172740566,$187929929,$146505707,$155575488,$148255740,$108418636,$109584150,$133423098,...,$129513735,$136466588,$153346197,$137084724,$159033650,$152215779,$136028569,$127382002,$102301160,$95263612
8,Golden State,$177010942,$215575491,$203984702,$206963957,$208524600,$158539039,$182393116,$176496341,$132419209,...,$95191218,$96796633,$93713720,$100666627,$92256901,$90996010,$91288107,$83368514,$84158566,$77200694
9,Miami,$176102077,$182407172,$160536360,$162860249,$164195796,$159290850,$190971244,$171384276,$131318946,...,$108090206,$100932646,$112742426,$99743680,$98100857,$98580937,$80979792,$100204748,$94166335,$133893083
10,New Orleans,$174943629,$172378150,$157305287,$157025005,$163184598,$144572641,$144692315,$154954494,$132460421,...,$102199509,$96960857,$94409903,$83226157,$66675548,$93694167,$85171353,$77642401,NaN,NaN
11,LA Clippers,$172948776,$207350074,$204535294,$194703915,$170278736,$161300533,$147153532,$152746604,$149589264,...,$89749472,$90116959,$97784525,$91637263,$82959386,$75327905,$66895771,$75017395,$59746073,$53953147
12,Toronto,$172585505,$167899669,$160095330,$155987201,$157371946,$150208932,$171798667,$149971558,$141563674,...,$98789072,$105455296,$99585611,$78993543,$100813637,$102191785,$107803308,$96764156,$92941360,$69821464
13,Sacramento,$172418682,$158127009,$147829176,$150854598,$130214040,$139578905,$126506975,$127728771,$124612990,...,$98342313,$99363963,$95606024,$99558332,$101459903,$102363887,$116935391,$122974612,$96937124,$84313862
14,Cleveland,$172032146,$171832777,$161127975,$157709500,$157948883,$160751868,$153672019,$176641010,$167533343,...,$121476973,$131086171,$123976286,$97539374,$82871059,$81442491,$78990929,$86639028,$80573481,$90718111
15,Philadelphia,$171682495,$171212482,$159570063,$172206695,$180153433,$159345395,$143538306,$129280953,$110507474,...,$94508194,$98066709,$111642599,$107058200,$136988851,$119164363,$103318722,$113205131,$102501114,$93096125
16,Washington,$171387013,$155338839,$161173239,$148035352,$160006880,$148777244,$154286083,$158150619,$135589072,...,$106971929,$101573383,$98434512,$97138293,$88123976,$82472254,$78129691,$81540872,$96681321,$107675943
17,Brooklyn,$170895720,$159621241,$169186672,$202143321,$207719404,$145825752,$148180613,$122455063,$107400033,...,$86472605,$89976708,$93243117,$99851759,$107335339,$91062680,$108938716,$105504321,$132719005,$125702023
18,Houston,$169540937,$153794701,$145874191,$152946704,$160604330,$157134618,$157685445,$153788726,$118564259,...,$100643130,$105247535,$105393668,$98847540,$111871172,$99840903,$94750913,$87635848,$86783192,$89811961
19,Atlanta,$169460696,$163882464,$158869639,$156298879,$144785431,$135783499,$98720177,$128248869,$125550017,...,$95965060,$97876948,$83690424,$75225427,$69368140,$68001599,$110307297,$97293910,$90943431,$71613539
20,Indiana,$169210858,$153141451,$133284674,$159785807,$158718834,$138444699,$138049525,$122193851,$117681770,...,$97202595,$100030616,$99914141,$97734838,$127272009,$109414339,$99462352,$93383357,$94250058,$100386811
21,Portland,$169031747,$170174630,$153738833,$144298828,$160751057,$161881448,$162401395,$152252982,$156074952,...,$82947009,$115237541,$110440960,$116172564,$96946748,$138573706,$141877741,$184410864,$148779239,$159265467
22,Chicago,$167974174,$170551964,$161126647,$157360165,$157166804,$138113087,$140385239,$116031124,$120605903,...,$101524429,$97816546,$95124917,$84783736,$92340837,$94858859,$94902043,$77768511,$75177581,$54109356
23,Oklahoma City,$167471133,$167344233,$157830582,$94846931,$116719963,$161928040,$180678980,$172551767,$118921455,...,$85324671,$98125000,$91773175,$88239703,$79558761,$89137089,$89527854,$92850981,$80408908,$93922022
24,Memphis,$165234903,$167482470,$134804500,$135621576,$160894802,$120811153,$156082748,$141982062,$143497530,...,$83444016,$80344805,$81605579,$95941029,$109073698,$110981159,$98131916,$106545607,$89876337,$89113143
25,San Antonio,$163847022,$147112925,$110848194,$147613994,$157866628,$146227313,$151594536,$147027354,$146018902,...,$115562913,$97663939,$105626500,$101660643,$102684776,$78674784,$79465681,$92877317,$80917378,$104268072
26,Charlotte,$162932262,$139808870,$133462735,$141235777,$131885330,$118426946,$151393892,$150552943,$134334324,...,$100040750,$90264446,$81043047,$64978079,$54046059,$39619793,NaN,NaN,$88250416,$84633265
27,Utah,$156115293,$137712338,$157705365,$173175425,$166816089,$145850738,$141916235,$135449473,$104462798,...,$104736033,$94535211,$97952121,$96566397,$92674189,$72069385,$59427594,$88951559,$92915243,$98214049
28,Orlando,$151728562,$136584956,$133710077,$146609408,$148362466,$154663944,$142624476,$126591215,$135693836,...,$119732542,$100036590,$87708746,$95146097,$122414821,$110044463,$86519404,$88079618,$81163046,$68265371
29,Detroit,$140746162,$143370164,$136939969,$151620682,$142637587,$128209432,$157789962,$153618991,$138817154,...,$87665722,$102565318,$99369227,$91373899,$96302746,$90695840,$91401203,$83438667,$74868385,$73760660

Inserción de salario por jugador

In [19]:
nba_salario_2024_2025_players= pd.read_html('https://hoopshype.com/salaries/players/')
nba_salario_2023_2024_players= pd.read_html('https://hoopshype.com/salaries/players/2023-2024/')
nba_salario_2022_2023_players= pd.read_html('https://hoopshype.com/salaries/players/2022-2023/')
nba_salario_2021_2022_players= pd.read_html('https://hoopshype.com/salaries/players/2021-2022/')
nba_salario_2020_2021_players= pd.read_html('https://hoopshype.com/salaries/players/2020-2021/')
nba_salario_2019_2020_players= pd.read_html('https://hoopshype.com/salaries/players/2019-2020/')
nba_salario_2018_2019_players= pd.read_html('https://hoopshype.com/salaries/players/2018-2019/')
nba_salario_2017_2018_players= pd.read_html('https://hoopshype.com/salaries/players/2017-2018/')
nba_salario_2016_2017_players= pd.read_html('https://hoopshype.com/salaries/players/2016-2017/')
nba_salario_2015_2016_players= pd.read_html('https://hoopshype.com/salaries/players/2015-2016/')
nba_salario_2014_2015_players = pd.read_html('https://hoopshype.com/salaries/players/2014-2015/')
nba_salario_2013_2014_players = pd.read_html('https://hoopshype.com/salaries/players/2013-2014/')
nba_salario_2012_2013_players = pd.read_html('https://hoopshype.com/salaries/players/2012-2013/')
nba_salario_2011_2012_players = pd.read_html('https://hoopshype.com/salaries/players/2011-2012/')
nba_salario_2010_2011_players = pd.read_html('https://hoopshype.com/salaries/players/2010-2011/')
nba_salario_2009_2010_players = pd.read_html('https://hoopshype.com/salaries/players/2009-2010/')
nba_salario_2008_2009_players = pd.read_html('https://hoopshype.com/salaries/players/2008-2009/')
nba_salario_2007_2008_players = pd.read_html('https://hoopshype.com/salaries/players/2007-2008/')
nba_salario_2006_2007_players = pd.read_html('https://hoopshype.com/salaries/players/2006-2007/')
nba_salario_2005_2006_players = pd.read_html('https://hoopshype.com/salaries/players/2005-2006/')
nba_salario_2004_2005_players = pd.read_html('https://hoopshype.com/salaries/players/2004-2005/')
nba_salario_2003_2004_players = pd.read_html('https://hoopshype.com/salaries/players/2003-2002/')
nba_salario_2002_2003_players = pd.read_html('https://hoopshype.com/salaries/players/2002-2003/')
nba_salario_2001_2002_players= pd.read_html('https://hoopshype.com/salaries/players/2001-2002/')
nba_salario_2000_2001_players= pd.read_html('https://hoopshype.com/salaries/players/2000-2001/')

In [20]:
##transformacion en dataframes, pongo "0", porque cuando le haces un len, muestra un solo objeto el cual es la tabla
df_nba_salario_2024_2025_players =nba_salario_2024_2025_players[0]
df_nba_salario_2023_2024_players =nba_salario_2023_2024_players[0]
df_nba_salario_2022_2023_players =nba_salario_2022_2023_players[0]
df_nba_salario_2021_2022_players=nba_salario_2021_2022_players[0]
df_nba_salario_2020_2021_players=nba_salario_2020_2021_players[0]
df_nba_salario_2019_2020_players=nba_salario_2019_2020_players[0]
df_nba_salario_2018_2019_players=nba_salario_2018_2019_players[0]
df_nba_salario_2017_2018_players=nba_salario_2017_2018_players[0]
df_nba_salario_2016_2017_players=nba_salario_2016_2017_players[0]
df_nba_salario_2015_2016_players=nba_salario_2015_2016_players[0]
df_nba_salario_2014_2015_players=nba_salario_2014_2015_players[0]
df_nba_salario_2013_2014_players=nba_salario_2013_2014_players[0]
df_nba_salario_2012_2013_players=nba_salario_2012_2013_players[0]
df_nba_salario_2011_2012_players=nba_salario_2011_2012_players[0]
df_nba_salario_2010_2011_players=nba_salario_2010_2011_players[0]
df_nba_salario_2009_2010_players=nba_salario_2009_2010_players[0]
df_nba_salario_2008_2009_players=nba_salario_2008_2009_players[0]
df_nba_salario_2007_2008_players=nba_salario_2007_2008_players[0]
df_nba_salario_2006_2007_players=nba_salario_2006_2007_players[0]
df_nba_salario_2005_2006_players=nba_salario_2005_2006_players[0]
df_nba_salario_2004_2005_players=nba_salario_2004_2005_players[0]
df_nba_salario_2003_2004_players=nba_salario_2003_2004_players[0]
df_nba_salario_2002_2003_players=nba_salario_2002_2003_players[0]
df_nba_salario_2001_2002_players=nba_salario_2001_2002_players[0]
df_nba_salario_2000_2001_players=nba_salario_2000_2001_players[0]

In [21]:
#Detectamos que en algunos años, el scrapping no ha funcionado por lo que lo hacemos de la siguiente manera:
url = 'https://hoopshype.com/salaries/players/2020-2021/'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# Buscar la tabla
table = soup.find('table')

# Extraer filas y encabezados
rows = []
for tr in table.find_all('tr'):
    cells = [td.text.strip() for td in tr.find_all(['th', 'td'])]
    rows.append(cells)

# Crear el DataFrame
df_nba_salario_2020_2021_players = pd.DataFrame(rows[1:], columns=rows[0])  # Salta el encabezado

print(df_nba_salario_2020_2021_players.head())

                  Player      2020/21   2020/21(*)
0  1.      Stephen Curry  $43,006,362  $52,411,485
1  2.         Chris Paul  $41,358,814  $50,403,633
2  2.  Russell Westbrook  $41,358,814  $50,403,633
3  4.       James Harden  $41,254,920  $50,277,018
4  4.          John Wall  $41,254,920  $50,277,018

In [22]:
# URL para la temporada 2016-2017
url_2016_2017 = 'https://hoopshype.com/salaries/players/2016-2017/'
response_2016_2017 = requests.get(url_2016_2017)
soup_2016_2017 = BeautifulSoup(response_2016_2017.content, 'html.parser')

# Buscar la tabla
table_2016_2017 = soup_2016_2017.find('table')

# Extraer filas y encabezados
rows_2016_2017 = []
for tr in table_2016_2017.find_all('tr'):
    cells = [td.text.strip() for td in tr.find_all(['th', 'td'])]
    rows_2016_2017.append(cells)

# Crear el DataFrame
df_nba_salario_2016_2017_players = pd.DataFrame(rows_2016_2017[1:], columns=rows_2016_2017[0])

# Mostrar las primeras filas
print(df_nba_salario_2016_2017_players.head())

             Player      2016/17   2016/17(*)
0  1.  LeBron James  $30,963,450  $40,361,889
1  2.    Al Horford  $26,540,100  $34,595,905
2  2.  Kevin Durant  $26,540,100  $34,595,905
3  2.  James Harden  $26,540,100  $34,595,905
4  2.   Mike Conley  $26,540,100  $34,595,905

In [23]:
# URL para la temporada 2012-2013
url_2012_2013 = 'https://hoopshype.com/salaries/players/2012-2013/'
response_2012_2013 = requests.get(url_2012_2013)
soup_2012_2013 = BeautifulSoup(response_2012_2013.content, 'html.parser')

# Buscar la tabla
table_2012_2013 = soup_2012_2013.find('table')

# Extraer filas y encabezados
rows_2012_2013 = []
for tr in table_2012_2013.find_all('tr'):
    cells = [td.text.strip() for td in tr.find_all(['th', 'td'])]
    rows_2012_2013.append(cells)

# Crear el DataFrame
df_nba_salario_2012_2013_players = pd.DataFrame(rows_2012_2013[1:], columns=rows_2012_2013[0])

# Mostrar las primeras filas
print(df_nba_salario_2012_2013_players.head())

                 Player      2012/13   2012/13(*)
0  1.       Kobe Bryant  $27,849,000  $38,127,661
1  2.       Brandon Roy  $21,459,805  $29,380,306
2  3.     Dirk Nowitzki  $20,907,128  $28,623,645
3  4.    Gilbert Arenas  $20,807,922  $28,487,824
4  5.  Amare Stoudemire  $19,948,799  $27,311,611

In [24]:
##primero tengo que borrar las dos ultimas columnas de el primer df, ya que hacen una peuqeña prediccion, o muestra parte de un contrato ya firmado futuro
df_nba_salario_2024_2025_players = df_nba_salario_2024_2025_players.iloc[:, :-5]

In [25]:
# Crear una lista de DataFrames (uno por cada año)
dfsSalarioPlayers = [
    df_nba_salario_2024_2025_players ,
    df_nba_salario_2023_2024_players,
    df_nba_salario_2022_2023_players ,
    df_nba_salario_2021_2022_players,
    df_nba_salario_2020_2021_players,
    df_nba_salario_2019_2020_players,
    df_nba_salario_2018_2019_players,
    df_nba_salario_2017_2018_players,
    df_nba_salario_2016_2017_players,
    df_nba_salario_2015_2016_players,
    df_nba_salario_2014_2015_players,
    df_nba_salario_2013_2014_players,
    df_nba_salario_2012_2013_players,
    df_nba_salario_2011_2012_players,
    df_nba_salario_2010_2011_players,
    df_nba_salario_2009_2010_players,
    df_nba_salario_2008_2009_players,
    df_nba_salario_2007_2008_players,
    df_nba_salario_2006_2007_players,
    df_nba_salario_2005_2006_players,
    df_nba_salario_2004_2005_players,
    df_nba_salario_2003_2004_players,
    df_nba_salario_2002_2003_players,
    df_nba_salario_2001_2002_players,
    df_nba_salario_2000_2001_players]
dfsSalarioPlayers = [df.iloc[:, 1:] for df in dfsSalarioPlayers]

In [26]:
#En la web hacen ajuste de salarios teniendo en cuenta la inflación, por lo tanto nos quedamos con el valor ajustado:
FilteredDataframes = []

for df in dfsSalarioPlayers:
    if not df.empty:
        # Mantener siempre la columna 'Player' si existe
        columns_to_keep = ['Player'] if 'Player' in df.columns else []

        # Filtrar las columnas con asterisco
        columns_with_asterisk = [col for col in df.columns if '*' in col]

        # Combinar columnas relevantes
        columns_to_keep.extend(columns_with_asterisk)

        # Filtrar el DataFrame solo con las columnas seleccionadas
        if columns_to_keep:
            FilteredDataframes.append(df[columns_to_keep])

# Mostrar el resultado del primer DataFrame filtrado
if FilteredDataframes:
    print(FilteredDataframes)

[               Player
0       Stephen Curry
1        Nikola Jokic
2         Joel Embiid
3        Kevin Durant
4        Bradley Beal
..                ...
575        Alex Reese
576   Jaylin Galloway
577  Anzejs Pasecniks
578    Taevion Kinsey
579      Malcolm Hill

[580 rows x 1 columns],                  Player   2023/24(*)
0         Stephen Curry  $53,458,234
1          Kevin Durant  $49,065,286
2          Nikola Jokic  $49,021,953
3          LeBron James  $49,021,953
4           Joel Embiid  $49,021,953
..                  ...          ...
607      Jalen Crutcher      $66,254
608  Izaiah Brockington      $66,254
609      Taevion Kinsey      $66,254
610       Edmond Sumner      $41,661
611        Kaiser Gates      $36,440

[612 rows x 2 columns],                 Player   2022/23(*)
0        Stephen Curry  $50,968,059
1            John Wall  $50,200,141
2    Russell Westbrook  $49,918,548
3         LeBron James  $47,156,296
4         Kevin Durant  $46,779,742
..                 ...          ...
569          Gabe York      $34,110
570         Ibou Badji      $19,324
571   Tristan Thompson      $17,706
572       RaiQuan Gray       $6,201
573      Jacob Gilyard       $6,201

[574 rows x 2 columns],                 Player   2021/22(*)
0        Stephen Curry  $52,938,707
1            John Wall  $51,238,730
2         James Harden  $51,238,730
3    Russell Westbrook  $51,123,449
4         Kevin Durant  $48,588,451
..                 ...          ...
648    Jaime Echenique      $61,489
649       Luca Vildoza      $49,478
650     Zavier Simpson      $43,042
651  Mfiondu Kabengele      $22,185
652     Melvin Frazier      $15,372

[653 rows x 2 columns],                 Player   2020/21(*)
0        Stephen Curry  $52,411,485
1           Chris Paul  $50,403,633
2    Russell Westbrook  $50,403,633
3         James Harden  $50,277,018
4            John Wall  $50,277,018
..                 ...          ...
573       Cam Reynolds      $40,581
574         Tyler Hall      $30,467
575       Andrew White      $30,467
576      Elijah Bryant      $29,993
577     Caleb Homesley      $24,373

[578 rows x 2 columns],                     Player   2019/20(*)
0            Stephen Curry  $49,346,703
1        Russell Westbrook  $47,230,546
2               Chris Paul  $47,230,546
3             James Harden  $46,853,401
4                John Wall  $46,853,401
..                     ...          ...
510            Paul Watson      $97,595
511       Jarrell Brantley      $97,595
512  Justin Wright-Foreman      $97,595
513       Garrison Mathews      $97,595
514           Malik Newman      $80,926

[515 rows x 2 columns],                 Player   2018/19(*)
0        Stephen Curry  $46,700,853
1    Russell Westbrook  $44,466,430
2           Chris Paul  $44,452,903
3         LeBron James  $44,452,903
4           Kyle Lowry  $40,769,726
..                 ...          ...
571      Dusty Hannahs      $59,059
572      Kendrick Nunn      $59,059
573    Richard Solomon      $59,059
574         Cody Demps      $59,059
575      Tarik Phillip      $59,059

[576 rows x 2 columns],                   Player   2017/18(*)
0          Stephen Curry  $44,483,232
1           LeBron James  $42,691,668
2           Paul Millsap  $39,464,077
3         Gordon Hayward  $38,128,484
4          Blake Griffin  $37,852,729
..                   ...          ...
581   Marcus Thornton II      $59,100
582        Jameel Warney      $59,100
583        Aaron Jackson      $59,100
584  Trey McKinney-Jones      $59,100
585         Andre Ingram      $59,100

[586 rows x 2 columns],                Player   2016/17(*)
0        LeBron James  $40,361,889
1          Al Horford  $34,595,905
2        Kevin Durant  $34,595,905
3        James Harden  $34,595,905
4         Mike Conley  $34,595,905
..                ...          ...
540  Nikola Jovanovic      $39,106
541       Jalen Jones      $32,588
542     Nick Zeisloft      $32,588
543       Tony Wroten      $32,588
544     Dahntay Jones      $31,313

[545 rows x 2 columns],                      Player   2015/16(*)
0               Kobe Bryant  $32,913,345
1              LeBron James  $30,241,440
2           Carmelo Anthony  $30,115,711
3             Dwight Howard  $29,436,859
4               Joe Johnson  $29,371,005
..                      ...          ...
495  Thanasis Antetokounmpo      $40,663
496              JJ O'Brien      $40,663
497           Nate Robinson      $34,830
498           Dorell Wright      $23,219
499            John Holland      $12,199

[500 rows x 2 columns],                Player   2014/15(*)
0         Kobe Bryant  $30,976,838
1         Joe Johnson  $30,556,067
2     Carmelo Anthony  $29,603,840
3    Amare Stoudemire  $28,863,371
4       Dwight Howard  $28,256,506
..                ...          ...
508       Sim Bhullar      $46,135
509      Jarell Eddie      $39,337
510   Sean Kilpatrick      $39,337
511        David Wear      $39,337
512        Josh Davis      $26,363

[513 rows x 2 columns],                   Player   2013/14(*)
0            Kobe Bryant  $40,973,907
1          Dirk Nowitzki  $30,571,167
2         Gilbert Arenas  $30,066,820
3       Amare Stoudemire  $29,169,865
4        Carmelo Anthony  $28,914,368
..                   ...          ...
487  Darius Johnson-Odom      $62,435
488          Vander Blue      $38,795
489        Shane Edwards      $38,795
490        Tony Mitchell      $38,795
491          DJ Stephens      $38,795

[492 rows x 2 columns],                Player   2012/13(*)
0         Kobe Bryant  $38,127,661
1         Brandon Roy  $29,380,306
2       Dirk Nowitzki  $28,623,645
3      Gilbert Arenas  $28,487,824
4    Amare Stoudemire  $27,311,611
..                ...          ...
489  Andrew Goudelock      $61,382
490      Josh Akognon      $57,211
491        Eddy Curry      $43,302
492      Chris Wright      $38,141
493        Henry Sims      $34,327

[494 rows x 2 columns],                Player   2011/12(*)
0         Kobe Bryant  $35,136,976
1        Vince Carter  $29,646,765
2       Kevin Garnett  $29,573,059
3          Tim Duncan  $29,458,334
4       Rashard Lewis  $29,419,378
..                ...          ...
458         Ike Diogu      $89,118
459      Andre Emmett      $85,506
460          Ben Uzoh      $85,506
461      Garret Siler      $71,120
462  Courtney Fortson      $58,470

[463 rows x 2 columns],             Player   2010/11(*)
0      Kobe Bryant  $35,755,757
1    Rashard Lewis  $28,213,569
2    Kevin Garnett  $27,098,341
3       Tim Duncan  $26,954,201
4     Michael Redd  $26,377,640
..             ...          ...
454   Maurice Ager     $120,075
455  Bobby Simmons     $103,710
456   Matt Janning      $84,327
457  Ronald Dupree      $84,167
458    Larry Owens      $80,311

[459 rows x 2 columns],                Player   2009/10(*)
0       Tracy McGrady  $33,850,377
1         Kobe Bryant  $33,551,504
2     Jermaine O'Neal  $33,524,740
3          Tim Duncan  $32,311,726
4    Shaquille O'Neal  $29,131,682
..                ...          ...
451       Mike Harris      $94,645
452    Cedric Jackson      $78,413
453       Will Conroy      $70,730
454     Chris Richard      $63,097
455     JamesOn Curry      $39,206

[456 rows x 2 columns],                Player   2008/09(*)
0       Kevin Garnett  $35,538,874
1          Jason Kidd  $30,685,958
2     Jermaine O'Neal  $30,685,958
3         Kobe Bryant  $30,528,738
4    Shaquille O'Neal  $30,151,840
..                ...          ...
455       Andre Brown     $154,934
456  Demetris Nichols     $126,196
457     Desmon Farmer     $120,188
458   Richard Hendrix      $82,149
459      Dwayne Jones      $67,212

[460 rows x 2 columns],                Player   2007/08(*)
0       Kevin Garnett  $35,812,741
1      Michael Finley  $32,716,634
2    Shaquille O'Neal  $30,158,097
3          Jason Kidd  $29,747,947
4     Jermaine O'Neal  $29,747,947
..                ...          ...
464    Thomas Gardner     $152,978
465      Orien Greene     $116,200
466    Guillermo Diaz      $84,540
467    Stephane Lasme      $72,463
468   DerMarr Johnson      $63,638

[469 rows x 2 columns],                Player   2006/07(*)
0       Kevin Garnett  $32,516,880
1    Shaquille O'Neal  $30,968,457
2      Michael Finley  $29,468,033
3        Chris Webber  $28,275,786
4          Jason Kidd  $28,001,679
..                ...          ...
490  Kevin Pittsnogle      $77,421
491       Will Conroy      $54,779
492    Casey Jacobsen      $48,388
493         Von Wafer      $37,626
494     Renaldo Major      $31,174

[495 rows x 2 columns],                Player   2005/06(*)
0    Shaquille O'Neal  $32,305,912
1       Allan Houston  $30,892,528
2        Chris Webber  $30,892,528
3      Michael Finley  $30,064,689
4       Kevin Garnett  $29,075,321
..                ...          ...
474    Ben Handlogten      $56,682
475        John Lucas      $54,986
476    Kaniel Dickens      $50,566
477       Alex Scales      $39,275
478    Melvin Sanders      $39,275

[479 rows x 2 columns],                  Player   2004/05(*)
0      Shaquille O'Neal  $45,869,930
1       Dikembe Mutombo  $32,271,616
2         Allan Houston  $29,034,688
3          Chris Webber  $29,034,688
4         Kevin Garnett  $26,498,682
..                  ...          ...
465    Tremaine Fowlkes     $130,885
466  Courtney Alexander     $130,885
467       Geno Carlisle     $108,941
468     Britton Johnsen      $75,138
469      Anthony Miller      $56,505

[470 rows x 2 columns],                Player   2002/03(*)
0       Kevin Garnett  $44,008,949
1    Shaquille O'Neal  $41,164,834
2     Alonzo Mourning  $36,027,612
3        Juwan Howard  $36,019,229
4      Scottie Pippen  $34,451,889
..                ...          ...
446        Mike Wilks      $96,753
447      Rafer Alston      $65,217
448        Guy Rucker      $61,029
449       Devin Brown      $61,029
450      Paul Shirley      $52,098

[451 rows x 2 columns],                Player   2001/02(*)
0       Kevin Garnett  $39,536,629
1    Shaquille O'Neal  $37,822,031
2     Alonzo Mourning  $33,102,748
3        Juwan Howard  $33,094,276
4      Scottie Pippen  $31,917,998
..                ...          ...
445      Charlie Bell     $157,602
446     Tang Hamilton     $107,456
447       Joe Crispin      $85,965
448    Mike Penberthy      $50,135
449   Dickey Simpkins      $46,226

[450 rows x 2 columns],                Player   2000/01(*)
0       Kevin Garnett  $35,736,495
1    Shaquille O'Neal  $35,145,530
2     Alonzo Mourning  $30,761,450
3        Juwan Howard  $30,752,338
4     Hakeem Olajuwon  $30,433,425
..                ...          ...
450      Garth Joseph     $577,631
451        Mike Smith     $577,631
452      Mark Karcher      $91,118
453    Anthony Miller      $72,894
454    Jamal Robinson      $72,894

[455 rows x 2 columns]]

In [27]:
# Desempaquetar la lista de filtered_dataframes
Dataframes1 = [df_nba_salario_2024_2025_players] + FilteredDataframes

In [28]:
# Realizar el merge sucesivamente, ya que tenemos los df
MergedDfPlayers = Dataframes1[0]
for df in Dataframes1[1:]:
    MergedDfPlayers = pd.merge(MergedDfPlayers, df, on='Player', how='left')
# Eliminar la primera columna usando iloc
MergedDfPlayers = MergedDfPlayers.iloc[:, 1:]

In [29]:
# Eliminar los asteriscos y los paréntesis de los nombres de las columnas en merged_df_players
MergedDfPlayers.columns = MergedDfPlayers.columns.str.replace('*', '', regex=False)  # Eliminar asteriscos
MergedDfPlayers.columns = MergedDfPlayers.columns.str.replace('(', '', regex=False)  # Eliminar paréntesis (
MergedDfPlayers.columns = MergedDfPlayers.columns.str.replace(')', '', regex=False)  # Eliminar paréntesis )
MergedDfPlayers = MergedDfPlayers.replace(',', '', regex=True)  # Eliminar las comas de los numeros
# Ver el DataFrame con los nombres de columnas actualizados
MergedDfPlayers

C:\Users\andre\AppData\Local\Temp\ipykernel_29804\61584708.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  MergedDfPlayers = MergedDfPlayers.replace(',', '', regex=True)  # Eliminar las comas de los numeros

,Player,2024/25,2023/24,2022/23,2021/22,2020/21,2019/20,2018/19,2017/18,2016/17,...,2010/11,2009/10,2008/09,2007/08,2006/07,2005/06,2004/05,2002/03,2001/02,2000/01
0,Stephen Curry,$55761217,$53458234,$50968059,$52938707,$52411485,$49346703,$46700853,$44483232,$15788863,...,$4200012,$3948158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nikola Jokic,$51415938,$49021953,$35040189,$35898700,$36002595,$33736104,$31752073,$1887168,$1770850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Joel Embiid,$51415938,$49021953,$35643458,$36516749,$36002595,$33736104,$31752073,$7824094,$6291060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kevin Durant,$51179020,$49065286,$46779742,$48588451,$48880434,$45626840,$37403418,$32064562,$34595905,...,$8725756,$6987059,$6438193,$6289772,NaN,NaN,NaN,NaN,NaN,NaN
4,Bradley Beal,$50203930,$48130468,$45888469,$38996895,$35039541,$33231237,$31710944,$30494048,$28829921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,Alex Reese,$79804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,Jaylin Galloway,$77500,$145760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,Anzejs Pasecniks,$77500,NaN,NaN,NaN,$456152,$591379,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,Taevion Kinsey,$77500,$66254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579,Malcolm Hill,$75000,$295098,$539571,$375086,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Limpieza TeamStatistics y PlayerStatistics

In [31]:
TeamStatistics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129114 entries, 0 to 129113
Data columns (total 48 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   gameId                   129114 non-null  int64
 1   gameDate                 129114 non-null  object
 2   teamCity                 129114 non-null  object
 3   teamName                 129114 non-null  object
 4   teamId                   129114 non-null  int64
 5   opponentTeamCity         129114 non-null  object
 6   opponentTeamName         129114 non-null  object
 7   opponentTeamId           129114 non-null  int64
 8   home                     129114 non-null  bool
 9   win                      129112 non-null  object
 10  teamScore                129114 non-null  int64
 11  opponentScore            129114 non-null  int64
 12  assists                  129112 non-null  float64
 13  blocks                   129112 non-null  float64
 14  steals                   129112 non-null  float64
 15  fieldGoalsAttempted      129112 non-null  float64
 16  fieldGoalsMade           129112 non-null  float64
 17  fieldGoalsPercentage     129112 non-null  float64
 18  threePointersAttempted   129112 non-null  float64
 19  threePointersMade        129112 non-null  float64
 20  threePointersPercentage  129112 non-null  float64
 21  freeThrowsAttempted      129112 non-null  float64
 22  freeThrowsMade           129112 non-null  float64
 23  freeThrowsPercentage     129112 non-null  float64
 24  reboundsDefensive        129112 non-null  float64
 25  reboundsOffensive        129112 non-null  float64
 26  reboundsTotal            129112 non-null  float64
 27  foulsPersonal            129112 non-null  float64
 28  turnovers                129112 non-null  float64
 29  plusMinusPoints          129112 non-null  float64
 30  numMinutes               129112 non-null  float64
 31  q1Points                 128578 non-null  float64
 32  q2Points                 128574 non-null  float64
 33  q3Points                 128542 non-null  float64
 34  q4Points                 128536 non-null  float64
 35  benchPoints              688 non-null     float64
 36  biggestLead              688 non-null     float64
 37  biggestScoringRun        688 non-null     float64
 38  leadChanges              688 non-null     float64
 39  pointsFastBreak          688 non-null     float64
 40  pointsFromTurnovers      688 non-null     float64
 41  pointsInThePaint         688 non-null     float64
 42  pointsSecondChance       688 non-null     float64
 43  timesTied                688 non-null     float64
 44  timeoutsRemaining        688 non-null     float64
 45  seasonWins               688 non-null     float64
 46  seasonLosses             688 non-null     float64
 47  coachId                  0 non-null       float64
dtypes: bool(1), float64(36), int64(5), object(6)
memory usage: 46.4+ MB

Separamos la columna de GameDate en fecha y hora para poder convertir en formato Fecha y filtrar el dataframe, ya que queramos quedarnos solo con la data del 2000 en adelante

In [33]:
TeamStatistics[['Date', 'Time']] = TeamStatistics['gameDate'].str.split(' ', expand=True)
TeamStatistics['Date'] = pd.to_datetime(TeamStatistics['Date'])
TeamStatistics = TeamStatistics[TeamStatistics['Date'].dt.year >= 2000]
TeamStatistics = TeamStatistics.drop(columns=['Date', 'Time'])
TeamStatistics['gameDate'] = pd.to_datetime(TeamStatistics['gameDate'])

In [34]:
PlayerStatistics[['Date', 'Time']] = PlayerStatistics['gameDate'].str.split(' ', expand=True)
PlayerStatistics['Date'] = pd.to_datetime(PlayerStatistics['Date'])
PlayerStatistics = PlayerStatistics[PlayerStatistics['Date'].dt.year >= 2000]
PlayerStatistics = PlayerStatistics.drop(columns=['Date', 'Time'])
PlayerStatistics['gameDate'] = pd.to_datetime(PlayerStatistics['gameDate'])

El warning que arroja la columna WIN al inicio es porque este partido fue aplazado y por eso tiene como nulos los datos de esas dos filas

In [36]:
RowsWithNulls = TeamStatistics[TeamStatistics['win'].isnull()]
RowsWithNulls

,gameId,gameDate,teamCity,teamName,teamId,opponentTeamCity,opponentTeamName,opponentTeamId,home,win,...,leadChanges,pointsFastBreak,pointsFromTurnovers,pointsInThePaint,pointsSecondChance,timesTied,timeoutsRemaining,seasonWins,seasonLosses,coachId
134,22400524,2025-01-09 22:30:00,Los Angeles,Lakers,1610612747,Charlotte,Hornets,1610612766,True,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,16.0,NaN
135,22400524,2025-01-09 22:30:00,Charlotte,Hornets,1610612766,Los Angeles,Lakers,1610612747,False,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,27.0,NaN

In [37]:
#Como ese partido no se llevó a cabo eliminamos las dos filas, para quitar esta data que no aporta valor porque este partido no se hizo
TeamStatistics.dropna(subset=['win'], inplace=True)

Verificamos que la columna coachID solo tiene valores nulos por lo tanto la elimnamos también

In [39]:
TeamStatistics['coachId'].unique()

array([nan])

In [40]:
#Eliminamos la columna coachId
TeamStatistics.drop(['coachId'], axis=1, inplace=True)

In [41]:
#Convertimos los valores de win y home en enteros para que estén igual al dataframe de PlayersStatistics
TeamStatistics['win'] = TeamStatistics['win'].astype(int)
TeamStatistics['home'] = TeamStatistics['home'].astype(int)

In [42]:
TeamStatistics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62280 entries, 0 to 62281
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   62280 non-null  int64
 1   gameDate                 62280 non-null  datetime64[ns]
 2   teamCity                 62280 non-null  object
 3   teamName                 62280 non-null  object
 4   teamId                   62280 non-null  int64
 5   opponentTeamCity         62280 non-null  object
 6   opponentTeamName         62280 non-null  object
 7   opponentTeamId           62280 non-null  int64
 8   home                     62280 non-null  int32
 9   win                      62280 non-null  int32
 10  teamScore                62280 non-null  int64
 11  opponentScore            62280 non-null  int64
 12  assists                  62280 non-null  float64
 13  blocks                   62280 non-null  float64
 14  steals                   62280 non-null  float64
 15  fieldGoalsAttempted      62280 non-null  float64
 16  fieldGoalsMade           62280 non-null  float64
 17  fieldGoalsPercentage     62280 non-null  float64
 18  threePointersAttempted   62280 non-null  float64
 19  threePointersMade        62280 non-null  float64
 20  threePointersPercentage  62280 non-null  float64
 21  freeThrowsAttempted      62280 non-null  float64
 22  freeThrowsMade           62280 non-null  float64
 23  freeThrowsPercentage     62280 non-null  float64
 24  reboundsDefensive        62280 non-null  float64
 25  reboundsOffensive        62280 non-null  float64
 26  reboundsTotal            62280 non-null  float64
 27  foulsPersonal            62280 non-null  float64
 28  turnovers                62280 non-null  float64
 29  plusMinusPoints          62280 non-null  float64
 30  numMinutes               62280 non-null  float64
 31  q1Points                 62272 non-null  float64
 32  q2Points                 62272 non-null  float64
 33  q3Points                 62270 non-null  float64
 34  q4Points                 62266 non-null  float64
 35  benchPoints              686 non-null    float64
 36  biggestLead              686 non-null    float64
 37  biggestScoringRun        686 non-null    float64
 38  leadChanges              686 non-null    float64
 39  pointsFastBreak          686 non-null    float64
 40  pointsFromTurnovers      686 non-null    float64
 41  pointsInThePaint         686 non-null    float64
 42  pointsSecondChance       686 non-null    float64
 43  timesTied                686 non-null    float64
 44  timeoutsRemaining        686 non-null    float64
 45  seasonWins               686 non-null    float64
 46  seasonLosses             686 non-null    float64
dtypes: datetime64[ns](1), float64(35), int32(2), int64(5), object(4)
memory usage: 22.3+ MB

Las ultimas 12 columnas solo tienen 686 valores, por lo que las eliminamos ya que no tienen suficiente data para que sea significativo quedarnos con ellas

In [44]:
TeamStatistics = TeamStatistics.iloc[:, :-12]

In [45]:
TeamStatistics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62280 entries, 0 to 62281
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   62280 non-null  int64
 1   gameDate                 62280 non-null  datetime64[ns]
 2   teamCity                 62280 non-null  object
 3   teamName                 62280 non-null  object
 4   teamId                   62280 non-null  int64
 5   opponentTeamCity         62280 non-null  object
 6   opponentTeamName         62280 non-null  object
 7   opponentTeamId           62280 non-null  int64
 8   home                     62280 non-null  int32
 9   win                      62280 non-null  int32
 10  teamScore                62280 non-null  int64
 11  opponentScore            62280 non-null  int64
 12  assists                  62280 non-null  float64
 13  blocks                   62280 non-null  float64
 14  steals                   62280 non-null  float64
 15  fieldGoalsAttempted      62280 non-null  float64
 16  fieldGoalsMade           62280 non-null  float64
 17  fieldGoalsPercentage     62280 non-null  float64
 18  threePointersAttempted   62280 non-null  float64
 19  threePointersMade        62280 non-null  float64
 20  threePointersPercentage  62280 non-null  float64
 21  freeThrowsAttempted      62280 non-null  float64
 22  freeThrowsMade           62280 non-null  float64
 23  freeThrowsPercentage     62280 non-null  float64
 24  reboundsDefensive        62280 non-null  float64
 25  reboundsOffensive        62280 non-null  float64
 26  reboundsTotal            62280 non-null  float64
 27  foulsPersonal            62280 non-null  float64
 28  turnovers                62280 non-null  float64
 29  plusMinusPoints          62280 non-null  float64
 30  numMinutes               62280 non-null  float64
 31  q1Points                 62272 non-null  float64
 32  q2Points                 62272 non-null  float64
 33  q3Points                 62270 non-null  float64
 34  q4Points                 62266 non-null  float64
dtypes: datetime64[ns](1), float64(23), int32(2), int64(5), object(4)
memory usage: 16.6+ MB

Durante los años 2003 y 2013 los Hornets pasaron a llamarse Bobcats, para que el equipo tenga el mismo nombre en toda la data y sea mas sencillo manipular el dato, reemplazamos el valor en ambos dataframes

In [47]:
TeamStatistics['teamName'] = TeamStatistics['teamName'].replace('Bobcats', 'Hornets')
TeamStatistics['opponentTeamName'] = TeamStatistics['opponentTeamName'].replace('Bobcats', 'Hornets')
TeamStatistics['teamName'] = TeamStatistics['teamName'].replace('SuperSonics', 'Thunder')
TeamStatistics['opponentTeamName'] = TeamStatistics['opponentTeamName'].replace('SuperSonics', 'Thunder')
PlayerStatistics['playerteamName'] = PlayerStatistics['playerteamName'].replace('Bobcats', 'Hornets')
PlayerStatistics['opponentteamName'] = PlayerStatistics['opponentteamName'].replace('Bobcats', 'Hornets')
PlayerStatistics['playerteamName'] = PlayerStatistics['playerteamName'].replace('SuperSonics', 'Thunder')
PlayerStatistics['opponentteamName'] = PlayerStatistics['opponentteamName'].replace('SuperSonics', 'Thunder')

Verificamos que ambos dataframes tengan la misma cantidad de valores unos para partidos:

In [49]:
Unique1 = TeamStatistics['gameId'].nunique()
Unique2 = PlayerStatistics['gameId'].nunique()

print(f"Cantidad de valores únicos en df1['ID']: {Unique1}")
print(f"Cantidad de valores únicos en df2['ID']: {Unique2}")

Cantidad de valores únicos en df1['ID']: 30925
Cantidad de valores únicos en df2['ID']: 30925

Unimos la columna First y Last Name en una nueva columna llamada Player, para poder relacionar con los salarios, ya que en MergedDfPlayers esta el nombre completo

In [51]:
PlayerStatistics['Player'] = PlayerStatistics['firstName'].str.cat(PlayerStatistics['lastName'], sep=' ')

Verificamos que los valores unicos de la columna Player coincidan en PlayerStatistics y MergedDfPlayers para saber que tenemos los salarios de todos los jugadores

In [53]:
unique_players_PlayerStatistics = set(PlayerStatistics['Player'].unique())
unique_players_Players_Salaries = set(MergedDfPlayers['Player'].unique())

In [54]:
NotInMergedDfPlayers = unique_players_Players_Salaries - unique_players_PlayerStatistics
NumNotInMergedDfPlayers = len(NotInMergedDfPlayers)

print(f"Número de jugadores solo en df2: {NumNotInMergedDfPlayers}\n")
SortedNames = list(NotInMergedDfPlayers)
sorted(SortedNames)

Número de jugadores solo en df2: 62

['AJ Lawson',
 'Aaron Gordon',
 'Alex Sarr',
 'Andre Jackson Jr',
 'BJ Boston',
 'Boo Buie',
 'Cameron Whitmore',
 'Charlie Brown',
 'Craig Porter',
 'DJ Carton',
 'DaRon Holmes',
 'David Duke',
 'David Jones',
 'Dennis Schroeder',
 'Dereck Lively',
 'Derrick Jones',
 'Devonte Graham',
 'Duane Washington Jr',
 'EJ Liddell',
 'Eric Gordon',
 'Gary Trent Jr',
 'Goga Bitadze',
 'Herb Jones',
 'Izaiah Brockington',
 'JD Davison',
 'Jaime Jaquez',
 'Jaren Jackson Jr',
 'Jaylin Galloway',
 'Jeff Dowtin',
 'Jordan Goodwin',
 'Josh Primo',
 'KJ Martin',
 'Keion Brooks',
 'Kelly Oubre',
 'Kevin McCullar',
 'Kevin Porter',
 'Larry Nance Jr',
 'Marvin Bagley',
 'Michael Porter',
 'Nick Smith',
 'Nicolas Claxton',
 'OG Anunoby',
 'PJ Tucker',
 'PJ Washington',
 'Patrick Baldwin',
 'Patrick Mills',
 'Ricky Council',
 'Robert Williams',
 'Ron Harper Jr',
 'Ron Holland',
 'Rudy Gobert',
 'Santiago Aldama',
 'Scotty Pippen Jr',
 'Sviatoslav Mykhailiuk',
 'TJ McConnell',
 'Tim Hardaway Jr',
 'Trey Jemison',
 'Trey Murphy',
 'TyTy Washington',
 'Vince Williams Jr',
 'Wendell Carter',
 'Wendell Moore']

Como tenemos una diferencia de 62 personas que estan en la tabla salarios, pero no aparecen en las estadisticas, verificamos uno a uno la razón, al ser un número reducido de datos, da para hacerlo de manera manual

In [56]:
#Verificamos en MergedDfPlayers cuantas columnas de salario tenemos del jugador, para saber si hay histórico
RowSalarie = MergedDfPlayers.loc[MergedDfPlayers["Player"] == "AJ Lawson"]
print(RowSalarie)

        Player  2024/25   2023/24  2022/23 2021/22 2020/21 2019/20 2018/19  \
531  AJ Lawson  $479642  $1029713  $393824     NaN     NaN     NaN     NaN

    2017/18 2016/17  ... 2010/11 2009/10 2008/09 2007/08 2006/07 2005/06  \
531     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN

    2004/05 2002/03 2001/02 2000/01
531     NaN     NaN     NaN     NaN

[1 rows x 25 columns]

In [57]:
#insertamos estos comandos para poder ver el dataframe completo y localizar al jugador buscado
pd.set_option('display.max_columns', None)
pd.set_option("display.max_rows", None)

In [58]:
#Hacemos un filtro por equipos para ubicar a los jugadores y verlos en orden alfabetico
RowTeam = PlayerStatistics.loc[PlayerStatistics["playerteamName"] == "Raptors"]

GroupedTeam = RowTeam.groupby("Player").agg({
    "points": "sum",  # Suma de goles por jugador
    "playerteamName": lambda x: ", ".join(x.unique())  # Equipos únicos del jugador
}).reset_index()

GroupedTeam

                      Player  points playerteamName
0                A.J. Lawson       9        Raptors
1                 Aaron Gray     207        Raptors
2             Aaron Williams      67        Raptors
3              Alan Anderson     199        Raptors
4       Aleksandar Radojevic       7        Raptors
5                   Alex Len      25        Raptors
6              Alexis Ajinca     114        Raptors
7           Alfonzo McKinnie      46        Raptors
8              Alize Johnson       3        Raptors
9            Alonzo Mourning       0        Raptors
10            Alvin Williams    3557        Raptors
11              Amir Johnson    3532        Raptors
12             Andre Barrett      78        Raptors
13           Andrea Bargnani    6728        Raptors
14              Andy Rautins       2        Raptors
15           Anthony Bennett      61        Raptors
16            Anthony Carter      47        Raptors
17            Anthony Parker    3055        Raptors
18            Antoine Wright     443        Raptors
19             Antonio Davis    3757        Raptors
20              Antonio Lang       3        Raptors
21             Armoni Brooks      34        Raptors
22               Aron Baynes     337        Raptors
23                  Art Long      20        Raptors
24               Austin Daye      48        Raptors
25              Axel Toupane       0        Raptors
26                  Ben Uzoh      77        Raptors
27           Bismack Biyombo     614        Raptors
28              Brady Heslip      21        Raptors
29           Branden Carlson       7        Raptors
30               Bruce Brown      51        Raptors
31             Bruno Caboclo      76        Raptors
32            Bruno Fernando      87        Raptors
33           Bryant Matthews      13        Raptors
34                  CJ Miles    1074        Raptors
35             Carlos Arroyo      30        Raptors
36            Carlos Delfino     809        Raptors
37             Carlos Morais       6        Raptors
38          Cezary Trybanski       0        Raptors
39            Charles Oakley    1234        Raptors
40        Charlie Villanueva    1171        Raptors
41                Chris Bosh   10907        Raptors
42             Chris Boucher    3341        Raptors
43              Chris Childs     500        Raptors
44           Chris Jefferies     205        Raptors
45              Chris Wright      10        Raptors
46          Christian Koloko     209        Raptors
47               Chuck Hayes     165        Raptors
48            Corey Williams      16        Raptors
49              Corie Blount      38        Raptors
50        Corliss Williamson     390        Raptors
51               Cory Joseph    1792        Raptors
52             D.J. Augustin      44        Raptors
53               D.J. Carton      25        Raptors
54               D.J. Wilson      54        Raptors
55             Dalano Banton     435        Raptors
56              Damone Brown      28        Raptors
57              Daniel Oturu       9        Raptors
58             Danny Fortson       0        Raptors
59               Danny Green     987        Raptors
60            Darrick Martin     253        Raptors
61            David Andersen     105        Raptors
62             David Johnson       7        Raptors
63              Davion Berry       0        Raptors
64           Davion Mitchell     245        Raptors
65           DeAndre' Bembry     304        Raptors
66             DeMar DeRozan   13631        Raptors
67           DeMarre Carroll    1258        Raptors
68                 Dee Brown     109        Raptors
69                Dell Curry    1160        Raptors
70              Delon Wright    1336        Raptors
71              Derrick Dial      28        Raptors
72           Dewan Hernandez      14        Raptors
73               Dion Glover      64        Raptors
74           Dominic McGuire       4        Raptors
75                Donta Hall       0        Raptors
76          Donyell Marshall    1827        Raptors
77             Doug Christie     575        Raptors
78             Drew Crawford      23        Raptors
79             Dwight Buycks      89        Raptors
80              E.J. Singler       0        Raptors
81                  Ed Davis     960        Raptors
82             Eric Montross     127        Raptors
83             Eric Moreland       9        Raptors
84             Eric Williams     254        Raptors
85            Eugene Omoruyi       0        Raptors
86                Fred Jones     399        Raptors
87             Fred VanVleet    6801        Raptors
88         Freddie Gillespie     116        Raptors
89                Gabe Brown      16        Raptors
90            Garrett Temple       9        Raptors
91              Garth Joseph       2        Raptors
92               Gary Forbes     326        Raptors
93            Gary Trent Jr.    2890        Raptors
94              Goran Dragic      72        Raptors
95               Gradey Dick     642        Raptors
96               Greg Foster     121        Raptors
97               Greg Monroe     183        Raptors
98             Greg Stiemsma      28        Raptors
99           Greivis Vasquez    1505        Raptors
100          Hakeem Olajuwon     422        Raptors
101             Hassan Adams      28        Raptors
102         Haywoode Workman      20        Raptors
103            Hedo Turkoglu     868        Raptors
104           Henry Ellenson      24        Raptors
105        Immanuel Quickley     130        Raptors
106              Isaac Bonga      23        Raptors
107            Ish Wainright      13        Raptors
108           Ja'Kobe Walter     178        Raptors
109          Jahmi'us Ramsey      37        Raptors
110             Jake Voskuhl      35        Raptors
111             Jakob Poeltl    1791        Raptors
112             Jalen Harris      99        Raptors
113               Jalen Rose    2974        Raptors
114          Jamaal Magloire      41        Raptors
115              Jamal Shead     236        Raptors
116             Jamario Moon    1122        Raptors
117            James Johnson    1720        Raptors
118               James Lang       0        Raptors
119           Jamison Battle     218        Raptors
120            Jannero Pargo      18        Raptors
121             Jared Rhoden       8        Raptors
122          Jared Sullinger      44        Raptors
123             Jarrett Jack    1234        Raptors
124            Jarrod Uthoff       0        Raptors
125             Jason Kapono    1389        Raptors
126           Jason Thompson      95        Raptors
127          Jeff Dowtin Jr.      89        Raptors
128             Jelani McCoy     457        Raptors
129             Jerel McNeal       0        Raptors
130               Jeremy Lin     170        Raptors
131         Jermaine Jackson     123        Raptors
132          Jermaine O'Neal     610        Raptors
133             Jerome Moiso     116        Raptors
134          Jerome Williams    1432        Raptors
135           Jerryd Bayless     976        Raptors
136              Jodie Meeks      73        Raptors
137             Joe Wieskamp       9        Raptors
138              Joey Dorsey     156        Raptors
139              Joey Graham    1931        Raptors
140           John Lucas III      58        Raptors
141             John Salmons     311        Raptors
142              John Thomas      86        Raptors
143        Jonas Valanciunas    5869        Raptors
144           Jonathan Mogbo     199        Raptors
145          Jordan Hamilton      52        Raptors
146              Jordan Loyd      29        Raptors
147          Jorge Garbajosa     671        Raptors
148            Jose Calderon    5235        Raptors
149             Josh Jackson      27        Raptors
150               Juan Dixon     485        Raptors
151      Juancho Hernangomez     134        Raptors
152            Julian Wright     205        Raptors
153             Julyan Stone      24        Raptors
154        Justin Champagnie     132        Raptors
155           Justin Dentmon      22        Raptors
156             Juwan Morgan       5        Raptors
157             KJ McDaniels       6        Raptors
158            Kawhi Leonard    2328        Raptors
159             Kelly Olynyk     130        Raptors
160            Kennedy Meeks       0        Raptors
161               Keon Clark    1345        Raptors
162             Kevin Willis     677        Raptors
163               Khem Birch     566        Raptors
164             Kornel David      42        Raptors
165           Kris Humphries     895        Raptors
166               Kyle Lowry   11650        Raptors
167             Kyle Wiltjer      12        Raptors
168         LaVell Blanchard       3        Raptors
169            Lamond Murray     574        Raptors
170            Landry Fields     206        Raptors
171          Leandro Barbosa    1395        Raptors
172             Linas Kleiza    1032        Raptors
173           Lindsey Hunter     280        Raptors
174           Linton Johnson       6        Raptors
175             Lonny Baxter     150        Raptors
176              Loren Woods     273        Raptors
177            Lorenzo Brown     100        Raptors
178             Lou Williams    1383        Raptors
179           Lucas Nogueira     486        Raptors
180               Luis Scola     749        Raptors
181             Luke Jackson      55        Raptors
182             Maceo Baston      82        Raptors
183            Malachi Flynn     883        Raptors
184       Malachi Richardson      32        Raptors
185           Malcolm Miller     119        Raptors
186          Mamadou N'diaye     143        Raptors
187               Marc Gasol     860        Raptors
188          Marco Belinelli     529        Raptors
189             Marcus Banks     172        Raptors
190             Mark Jackson     461        Raptors
191              Matt Bonner    1223        Raptors
192              Matt Thomas     325        Raptors
193            Mengke Bateer       8        Raptors
194          Michael Bradley     371        Raptors
195            Michael Curry     204        Raptors
196          Michael Stewart     101        Raptors
197            Michale Kyser       0        Raptors
198               Mike James    1667        Raptors
199             Milt Palacio     726        Raptors
200          Morris Peterson    6729        Raptors
201            Muggsy Bogues     287        Raptors
202            Nando De Colo      65        Raptors
203             Nate Huffman      23        Raptors
204             Nathan Jawai       2        Raptors
205              Nigel Hayes       6        Raptors
206            Norman Powell    4095        Raptors
207             O.G. Anunoby    4742        Raptors
208             Ochai Agbaji     467        Raptors
209                Omar Cook      23        Raptors
210           Oshae Brissett      42        Raptors
211          Otto Porter Jr.      44        Raptors
212              P.J. Tucker     259        Raptors
213                 Pape Sow     221        Raptors
214            Pascal Siakam    9007        Raptors
215            Patrick McCaw     249        Raptors
216         Patrick O'Bryant     106        Raptors
217        Patrick Patterson    2464        Raptors
218              Paul Watson     155        Raptors
219          Peja Stojakovic      20        Raptors
220        Pops Mensah-Bonsu     130        Raptors
221         Precious Achiuwa    1352        Raptors
222            Primoz Brezec      48        Raptors
223               Quincy Acy      54        Raptors
224             Quincy Douby      49        Raptors
225               RJ Barrett     768        Raptors
226            Rafael Araujo     388        Raptors
227             Rafer Alston    1523        Raptors
228         Rasho Nesterovic    1323        Raptors
229            Rasual Butler     110        Raptors
230             Reggie Evans     290        Raptors
231             Reggie Perry       8        Raptors
232             Rick Brunson       4        Raptors
233         Robert Archibald      29        Raptors
234              Robert Pack       4        Raptors
235           Rod Strickland      71        Raptors
236              Rodney Hood      66        Raptors
237          Roger Mason Jr.      93        Raptors
238                Roko Ukic     332        Raptors
239           Ron Harper Jr.      22        Raptors
240            Ronald Dupree      22        Raptors
241       Ronald Roberts Jr.      10        Raptors
242  Rondae Hollis-Jefferson     432        Raptors
243                 Rudy Gay     448        Raptors
244               Sam Dekker      23        Raptors
245           Scottie Barnes    3098        Raptors
246               Sean Marks       8        Raptors
247              Serge Ibaka    3896        Raptors
248           Shamorie Ponds       9        Raptors
249            Shannon Scott       2        Raptors
250             Shawn Marion     386        Raptors
251            Solomon Alabi      49        Raptors
252              Sonny Weems    1222        Raptors
253          Stanley Johnson     344        Raptors
254              Steve Novak     187        Raptors
255          Sundiata Gaines      35        Raptors
256           Svi Mykhailiuk     304        Raptors
257                T.J. Ford    1876        Raptors
258            Terence Davis     852        Raptors
259            Terrence Ross    3399        Raptors
260           Thaddeus Young     435        Raptors
261             Tierre Brown      39        Raptors
262             Toree Morris       6        Raptors
263            Tracy McGrady     857        Raptors
264             Tracy Murray     432        Raptors
265           Tremont Waters       8        Raptors
266             Trey Johnson      28        Raptors
267         Tyler Hansbrough     691        Raptors
268            Tyrone Corbin      20        Raptors
269           Ulrich Chomche       8        Raptors
270              Uros Slokar      51        Raptors
271             Vince Carter    8095        Raptors
272            Voshon Lenard     898        Raptors
273              Will Barton      72        Raptors
274              Will Cherry      14        Raptors
275             Will Solomon     229        Raptors
276           Yanick Moreira       0        Raptors
277            Yuta Watanabe     409        Raptors
278          Zendon Hamilton       6        Raptors

In [59]:
#Volvemos a poner la extension de los dataframes por defecto
pd.reset_option("display.max_columns")
pd.reset_option("display.max_rows")

Hacemos este proceso con todos los jugadores y generamos los siguientes diccionarios para corregir las discordancias de nombres entre las datas

In [61]:
MergedDfPlayers = MergedDfPlayers.copy()

# Diccionario con los valores a reemplazar
replacements = {
    'AJ Lawson': 'A.J. Lawson',
    'Alex Sarr': 'Alexandre Sarr',
    'Andre Jackson Jr': 'Andre Jackson Jr.',
    'BJ Boston': 'Brandon Boston Jr.',
    'Boo Buie': 'Boo Buie III',
    'Cameron Whitmore': 'Cam Whitmore',
    'Charlie Brown': 'Charlie Brown Jr.',
    'Craig Porter': 'Craig Porter Jr.',
    'DJ Carton': 'D.J. Carton',
    'DaRon Holmes': 'DaRon Holmes II',
    'David Duke': 'David Duke Jr.',
    'David Jones': 'David Jones Garcia',
    'Dennis Schroeder': 'Dennis Schroder',
    'Dereck Lively': 'Dereck Lively II',
    'Derrick Jones': 'Derrick Jones Jr.',
    'Devonte Graham': "Devonte' Graham",
    'Duane Washington Jr': "Duane Washington Jr.",
    'EJ Liddell': "E.J. Liddell",
    'Gary Trent Jr': 'Gary Trent Jr.',
    'Herb Jones': 'Herbert Jones',
    'JD Davison': 'J.D. Davison',
    'Jaime Jaquez': 'Jaime Jaquez Jr.',
    'Jaren Jackson Jr': 'Jaren Jackson Jr.',
    'Jeff Dowtin': 'Jeff Dowtin Jr.',
    'Josh Primo': 'Joshua Primo',
    'KJ Martin': 'Kenyon Martin Jr.',
    'Keion Brooks': 'Keion Brooks Jr.',
    'Kelly Oubre': 'Kelly Oubre Jr.',
    'Kevin McCullar': 'Kevin McCullar Jr.',
    'Kevin Porter': 'Kevin Porter Jr.',
    'Larry Nance Jr': 'Larry Nance Jr.',
    'Marvin Bagley': 'Marvin Bagley III',
    'Michael Porter': 'Michael Porter Jr.',
    'Nick Smith': 'Nick Smith Jr.',
    'OG Anunoby': 'O.G. Anunoby',
    'PJ Tucker': 'P.J. Tucker',
    'PJ Washington': 'P.J. Washington',
    'Patrick Baldwin': 'Patrick Baldwin Jr.',
    'Patrick Mills': 'Patty Mills',
    'Ricky Council': 'Ricky Council IV',
    'Robert Williams': 'Robert Williams III',
    'Ron Harper Jr': 'Ron Harper Jr.',
    'Ron Holland': 'Ronald Holland II',
    'Scotty Pippen Jr': 'Scotty Pippen Jr.',
    'TJ McConnell': 'T.J. McConnell',
    'Tim Hardaway Jr': 'Tim Hardaway Jr.',
    'Trey Jemison': 'Trey Jemison III',
    'Trey Murphy': 'Trey Murphy III',
    'TyTy Washington': 'TyTy Washington Jr.',
    'Vince Williams Jr': 'Vince Williams Jr.',
    'Wendell Carter': 'Wendell Carter Jr.',
    'Wendell Moore': 'Wendell Moore Jr.'
}

# Aplicar reemplazos
MergedDfPlayers['Player'] = MergedDfPlayers['Player'].replace(replacements)

In [62]:
PlayerStatistics = PlayerStatistics.copy()

# Diccionario con los valores a reemplazar
replacements = {
    'Aaron rdon': 'Aaron Gordon',
    'Eric rdon': 'Eric Gordon',
    'ga Bitadze': 'Goga Bitadze',
    'Nic Claxton': 'Nicolas Claxton',
    'Rudy bert': 'Rudy Gobert',
    'Santi Aldama': 'Santiago Aldama',
    'Svi Mykhailiuk': 'Sviatoslav Mykhailiuk'
}

# Aplicar reemplazos
PlayerStatistics['Player'] = PlayerStatistics['Player'].replace(replacements)

Encontramos 3 jugadores que no estaban en las estadisticas, son jugadores que se ficharon por poco tiempo y no quedaron registros de su paso por los equipos, al ser un número tan bajo los eliminamos de la data

In [64]:
#Lista de jugadores a eliminar
players_to_remove = ["Izaiah Brockington", "Jaylin Galloway", "KJ Jones"]

# Filtrar el DataFrame eliminando las filas donde 'Player' esté en la lista
MergedDfPlayers = MergedDfPlayers[~MergedDfPlayers["Player"].isin(players_to_remove)]

# Reiniciar los índices después de la eliminación
MergedDfPlayers = MergedDfPlayers.reset_index(drop=True)
MergedDfPlayers

,Player,2024/25,2023/24,2022/23,2021/22,2020/21,2019/20,2018/19,2017/18,2016/17,...,2010/11,2009/10,2008/09,2007/08,2006/07,2005/06,2004/05,2002/03,2001/02,2000/01
0,Stephen Curry,$55761217,$53458234,$50968059,$52938707,$52411485,$49346703,$46700853,$44483232,$15788863,...,$4200012,$3948158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nikola Jokic,$51415938,$49021953,$35040189,$35898700,$36002595,$33736104,$31752073,$1887168,$1770850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Joel Embiid,$51415938,$49021953,$35643458,$36516749,$36002595,$33736104,$31752073,$7824094,$6291060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kevin Durant,$51179020,$49065286,$46779742,$48588451,$48880434,$45626840,$37403418,$32064562,$34595905,...,$8725756,$6987059,$6438193,$6289772,NaN,NaN,NaN,NaN,NaN,NaN
4,Bradley Beal,$50203930,$48130468,$45888469,$38996895,$35039541,$33231237,$31710944,$30494048,$28829921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,Javon Freeman-Liberty,$100000,$874560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,Alex Reese,$79804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,Anzejs Pasecniks,$77500,NaN,NaN,NaN,$456152,$591379,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,Taevion Kinsey,$77500,$66254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,Malcolm Hill,$75000,$295098,$539571,$375086,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Al haber igualado todos los nombres de la las dos datas, aprovechamos de añadir el ID que tienes los jugadores en la data de salarios que no viene sin ID

In [66]:
# Crear un Series indexado con Player como índice y personId como valores
idUnique = PlayerStatistics.drop_duplicates(subset='Player', keep='last')

teamIdMap = idUnique.set_index('Player')['personId']

# Usar .map() para agregar la columna TeamID a df1
MergedDfPlayers['personId'] = MergedDfPlayers['Player'].map(teamIdMap)
MergedDfPlayers

,Player,2024/25,2023/24,2022/23,2021/22,2020/21,2019/20,2018/19,2017/18,2016/17,...,2009/10,2008/09,2007/08,2006/07,2005/06,2004/05,2002/03,2001/02,2000/01,personId
0,Stephen Curry,$55761217,$53458234,$50968059,$52938707,$52411485,$49346703,$46700853,$44483232,$15788863,...,$3948158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201939.0
1,Nikola Jokic,$51415938,$49021953,$35040189,$35898700,$36002595,$33736104,$31752073,$1887168,$1770850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203999.0
2,Joel Embiid,$51415938,$49021953,$35643458,$36516749,$36002595,$33736104,$31752073,$7824094,$6291060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203954.0
3,Kevin Durant,$51179020,$49065286,$46779742,$48588451,$48880434,$45626840,$37403418,$32064562,$34595905,...,$6987059,$6438193,$6289772,NaN,NaN,NaN,NaN,NaN,NaN,201142.0
4,Bradley Beal,$50203930,$48130468,$45888469,$38996895,$35039541,$33231237,$31710944,$30494048,$28829921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203078.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,Javon Freeman-Liberty,$100000,$874560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1631241.0
574,Alex Reese,$79804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1642024.0
575,Anzejs Pasecniks,$77500,NaN,NaN,NaN,$456152,$591379,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1628394.0
576,Taevion Kinsey,$77500,$66254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1641795.0
577,Malcolm Hill,$75000,$295098,$539571,$375086,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1630792.0

Ahora igualamos las tablas de TeamStatistics y mergedDfTeams para que también tengan los nombres de los equipos escritos igual

In [68]:
TeamStatistics['teamName'].unique()

array(['Pelicans', 'Jazz', 'Celtics', 'Warriors', 'Cavaliers', 'Suns',
       'Hawks', 'Knicks', 'Timberwolves', 'Grizzlies', 'Rockets',
       'Pistons', 'Mavericks', 'Hornets', 'Kings', 'Wizards', 'Bulls',
       'Trail Blazers', 'Clippers', 'Lakers', 'Nets', 'Thunder', 'Bucks',
       '76ers', 'Nuggets', 'Magic', 'Heat', 'Spurs', 'Pacers', 'Raptors'],
      dtype=object)

In [69]:
mergedDfTeams['Team'].unique()

array(['Phoenix', 'Minnesota', 'Boston', 'New York', 'LA Lakers',
       'Denver', 'Milwaukee', 'Dallas', 'Golden State', 'Miami',
       'New Orleans', 'LA Clippers', 'Toronto', 'Sacramento', 'Cleveland',
       'Philadelphia', 'Washington', 'Brooklyn', 'Houston', 'Atlanta',
       'Indiana', 'Portland', 'Chicago', 'Oklahoma City', 'Memphis',
       'San Antonio', 'Charlotte', 'Utah', 'Orlando', 'Detroit'],
      dtype=object)

In [70]:
#Hacemos un mapping para igualar los nombres de los equipos en todos los dataframes
team_mapping = {
    'Phoenix': 'Suns',
    'Minnesota': 'Timberwolves',
    'Boston': 'Celtics',
    'Milwaukee': 'Bucks',
    'New York': 'Knicks',
    'LA Lakers': 'Lakers',
    'Miami': 'Heat',
    'Denver': 'Nuggets',
    'Philadelphia': '76ers',
    'Dallas': 'Mavericks',
    'Golden State': 'Warriors',
    'New Orleans': 'Pelicans',
    'LA Clippers': 'Clippers',
    'Cleveland': 'Cavaliers',
    'Sacramento': 'Kings',
    'Brooklyn': 'Nets',
    'Indiana': 'Pacers',
    'Atlanta': 'Hawks',
    'Memphis': 'Grizzlies',
    'Portland': 'Trail Blazers',
    'Chicago': 'Bulls',
    'Toronto': 'Raptors',
    'Houston': 'Rockets',
    'Oklahoma City': 'Thunder',
    'Washington': 'Wizards',
    'Charlotte': 'Hornets',
    'San Antonio': 'Spurs',
    'Orlando': 'Magic',
    'Utah': 'Jazz',
    'Detroit': 'Pistons'
}
# Realizar el reemplazo usando .replace() y el diccionario
mergedDfTeams['Team'] = mergedDfTeams['Team'].replace(team_mapping)

Ahora que tenemos todos los nombres igualados, añadimos el ID de equipo a la columna de salarios por equipos

In [72]:
# Crear un Series indexado con teamName como índice y TeamID como valores
IdUnique = TeamStatistics.drop_duplicates(subset='teamName', keep='last')
TeamIdMap = IdUnique.set_index('teamName')['teamId']


# Usar .map() para agregar la columna TeamID a df1
mergedDfTeams['teamId'] = mergedDfTeams['Team'].map(TeamIdMap)
mergedDfTeams

,Team,2024/25,2023/24,2022/23,2021/22,2020/21,2019/20,2018/19,2017/18,2016/17,...,2008/09,2007/08,2006/07,2005/06,2004/05,2003/04,2002/03,2001/02,2000/01,teamId
0,Suns,$220708856,$199598596,$186655694,$157814221,$157038429,$120864909,$135516107,$118874973,$116998090,...,$109308179,$107548369,$101949887,$86623329,$73862884,$114470809,$96444346,$99894176,$98236801,1610612756
1,Timberwolves,$204304153,$171379743,$154583256,$158919956,$158838062,$140076911,$152060122,$148875924,$108880975,...,$95402059,$104111617,$103466650,$99874021,$116136117,$121893806,$103942847,$97242068,$86541172,1610612750
2,Celtics,$196051963,$192495669,$189402747,$157908082,$162002554,$144438990,$156265226,$147862224,$121835160,...,$113699674,$112353166,$97521952,$91922105,$106950918,$102933630,$91769470,$83866497,$93812764,1610612738
3,Knicks,$192251829,$169893032,$157970114,$139506473,$124473662,$122940807,$153837075,$135188201,$133733931,...,$138761126,$145045534,$181708756,$204546649,$169869031,$152974005,$163203998,$151780123,$134868788,1610612752
4,Lakers,$191906169,$174924626,$179603738,$190114264,$169806014,$152058818,$133686642,$132268307,$123551292,...,$112345455,$109514294,$119383317,$117784029,$107748764,$109667222,$110286387,$95773977,$107461347,1610612747
5,Nuggets,$185864258,$186298923,$172125732,$159534234,$158177865,$157915026,$147527819,$137933530,$109283609,...,$100679866,$125093110,$101449214,$91251553,$76352236,$67381969,$85763667,$96124258,$95107581,1610612743
6,Bucks,$185323374,$192913480,$193959293,$186027881,$166502403,$150391306,$163314041,$154578435,$125459700,...,$102459760,$94351897,$98322546,$101799984,$95143914,$91036902,$101281964,$99237401,$105367649,1610612749
7,Mavericks,$178518805,$172740566,$187929929,$146505707,$155575488,$148255740,$108418636,$109584150,$133423098,...,$136466588,$153346197,$137084724,$159033650,$152215779,$136028569,$127382002,$102301160,$95263612,1610612742
8,Warriors,$177010942,$215575491,$203984702,$206963957,$208524600,$158539039,$182393116,$176496341,$132419209,...,$96796633,$93713720,$100666627,$92256901,$90996010,$91288107,$83368514,$84158566,$77200694,1610612744
9,Heat,$176102077,$182407172,$160536360,$162860249,$164195796,$159290850,$190971244,$171384276,$131318946,...,$100932646,$112742426,$99743680,$98100857,$98580937,$80979792,$100204748,$94166335,$133893083,1610612748
10,Pelicans,$174943629,$172378150,$157305287,$157025005,$163184598,$144572641,$144692315,$154954494,$132460421,...,$96960857,$94409903,$83226157,$66675548,$93694167,$85171353,$77642401,NaN,NaN,1610612740
11,Clippers,$172948776,$207350074,$204535294,$194703915,$170278736,$161300533,$147153532,$152746604,$149589264,...,$90116959,$97784525,$91637263,$82959386,$75327905,$66895771,$75017395,$59746073,$53953147,1610612746
12,Raptors,$172585505,$167899669,$160095330,$155987201,$157371946,$150208932,$171798667,$149971558,$141563674,...,$105455296,$99585611,$78993543,$100813637,$102191785,$107803308,$96764156,$92941360,$69821464,1610612761
13,Kings,$172418682,$158127009,$147829176,$150854598,$130214040,$139578905,$126506975,$127728771,$124612990,...,$99363963,$95606024,$99558332,$101459903,$102363887,$116935391,$122974612,$96937124,$84313862,1610612758
14,Cavaliers,$172032146,$171832777,$161127975,$157709500,$157948883,$160751868,$153672019,$176641010,$167533343,...,$131086171,$123976286,$97539374,$82871059,$81442491,$78990929,$86639028,$80573481,$90718111,1610612739
15,76ers,$171682495,$171212482,$159570063,$172206695,$180153433,$159345395,$143538306,$129280953,$110507474,...,$98066709,$111642599,$107058200,$136988851,$119164363,$103318722,$113205131,$102501114,$93096125,1610612755
16,Wizards,$171387013,$155338839,$161173239,$148035352,$160006880,$148777244,$154286083,$158150619,$135589072,...,$101573383,$98434512,$97138293,$88123976,$82472254,$78129691,$81540872,$96681321,$107675943,1610612764
17,Nets,$170895720,$159621241,$169186672,$202143321,$207719404,$145825752,$148180613,$122455063,$107400033,...,$89976708,$93243117,$99851759,$107335339,$91062680,$108938716,$105504321,$132719005,$125702023,1610612751
18,Rockets,$169540937,$153794701,$145874191,$152946704,$160604330,$157134618,$157685445,$153788726,$118564259,...,$105247535,$105393668,$98847540,$111871172,$99840903,$94750913,$87635848,$86783192,$89811961,1610612745
19,Hawks,$169460696,$163882464,$158869639,$156298879,$144785431,$135783499,$98720177,$128248869,$125550017,...,$97876948,$83690424,$75225427,$69368140,$68001599,$110307297,$97293910,$90943431,$71613539,1610612737
20,Pacers,$169210858,$153141451,$133284674,$159785807,$158718834,$138444699,$138049525,$122193851,$117681770,...,$100030616,$99914141,$97734838,$127272009,$109414339,$99462352,$93383357,$94250058,$100386811,1610612754
21,Trail Blazers,$169031747,$170174630,$153738833,$144298828,$160751057,$161881448,$162401395,$152252982,$156074952,...,$115237541,$110440960,$116172564,$96946748,$138573706,$141877741,$184410864,$148779239,$159265467,1610612757
22,Bulls,$167974174,$170551964,$161126647,$157360165,$157166804,$138113087,$140385239,$116031124,$120605903,...,$97816546,$95124917,$84783736,$92340837,$94858859,$94902043,$77768511,$75177581,$54109356,1610612741
23,Thunder,$167471133,$167344233,$157830582,$94846931,$116719963,$161928040,$180678980,$172551767,$118921455,...,$98125000,$91773175,$88239703,$79558761,$89137089,$89527854,$92850981,$80408908,$93922022,1610612760
24,Grizzlies,$165234903,$167482470,$134804500,$135621576,$160894802,$120811153,$156082748,$141982062,$143497530,...,$80344805,$81605579,$95941029,$109073698,$110981159,$98131916,$106545607,$89876337,$89113143,1610612763
25,Spurs,$163847022,$147112925,$110848194,$147613994,$157866628,$146227313,$151594536,$147027354,$146018902,...,$97663939,$105626500,$101660643,$102684776,$78674784,$79465681,$92877317,$80917378,$104268072,1610612759
26,Hornets,$162932262,$139808870,$133462735,$141235777,$131885330,$118426946,$151393892,$150552943,$134334324,...,$90264446,$81043047,$64978079,$54046059,$39619793,NaN,NaN,$88250416,$84633265,1610612766
27,Jazz,$156115293,$137712338,$157705365,$173175425,$166816089,$145850738,$141916235,$135449473,$104462798,...,$94535211,$97952121,$96566397,$92674189,$72069385,$59427594,$88951559,$92915243,$98214049,1610612762
28,Magic,$151728562,$136584956,$133710077,$146609408,$148362466,$154663944,$142624476,$126591215,$135693836,...,$100036590,$87708746,$95146097,$122414821,$110044463,$86519404,$88079618,$81163046,$68265371,1610612753
29,Pistons,$140746162,$143370164,$136939969,$151620682,$142637587,$128209432,$157789962,$153618991,$138817154,...,$102565318,$99369227,$91373899,$96302746,$90695840,$91401203,$83438667,$74868385,$73760660,1610612765

Limpieza dataframe Players

In [74]:
#Filtramos la data de Players para quedarnos solo con los jugadores que tenemos en común con la tabla salarios
dfPlayers = Players[Players['personId'].isin(MergedDfPlayers['personId'])].reset_index(drop=True)
dfPlayers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   personId     577 non-null    int64
 1   firstName    577 non-null    object
 2   lastName     577 non-null    object
 3   birthdate    348 non-null    object
 4   school       344 non-null    object
 5   country      348 non-null    object
 6   height       346 non-null    float64
 7   bodyWeight   346 non-null    float64
 8   guard        399 non-null    object
 9   forward      399 non-null    object
 10  center       399 non-null    object
 11  draftYear    348 non-null    float64
 12  draftRound   347 non-null    float64
 13  draftNumber  346 non-null    float64
 14  dleague      348 non-null    object
dtypes: float64(5), int64(1), object(9)
memory usage: 67.7+ KB

Añadimos una columna para tener las posiciones indicadas directamente

In [172]:
# Definir condiciones
conditions = [
    dfPlayers["guard"] == True,
    dfPlayers["forward"] == True,
    dfPlayers["center"] == True
]

# Definir los valores correspondientes
choices = ["Guard", "Forward", "Center"]

# Crear la nueva columna 'Position'
dfPlayers["Position"] = np.select(conditions, choices, default="Unknown")

dfPlayers

,personId,firstName,lastName,birthdate,school,country,height,bodyWeight,guard,forward,center,draftYear,draftRound,draftNumber,dleague,Position
0,1585,Brandon,Williams,1975-02-27,Davidson,USA,78.0,215.0,False,True,False,-1.0,-1.0,-1.0,False,Forward
1,2074,Jabari,Smith,1977-02-12,Louisiana State,USA,83.0,250.0,False,False,True,2000.0,2.0,45.0,False,Center
2,2544,LeBron,James,1984-12-30,St. Vincent-St. Mary HS (OH),USA,81.0,250.0,False,True,False,2003.0,1.0,1.0,False,Forward
3,101108,Chris,Paul,1985-05-06,Wake Forest,USA,72.0,175.0,True,False,False,2005.0,1.0,4.0,False,Guard
4,200768,Kyle,Lowry,1986-03-25,Villanova,USA,72.0,196.0,True,False,False,2006.0,1.0,24.0,False,Guard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,1642484,RayJ,Dennis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
573,1642486,Boo,Buie III,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
574,1642502,Malevy,Leons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
575,1642505,Alex,Ducas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
576,1642530,Yuki,Kawamura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown

Como nos falta la altura y fecha de nacimiento de mas de 200 registros, decidimos filtrar la data para quedarnos solo con los jugadores de los cuales tenemos toda la informacion completa

In [174]:
dfPlayersFiltered = dfPlayers.dropna(subset=['height', 'birthdate']).reset_index(drop=True)
dfPlayersFiltered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   personId     346 non-null    int64
 1   firstName    346 non-null    object
 2   lastName     346 non-null    object
 3   birthdate    346 non-null    object
 4   school       342 non-null    object
 5   country      346 non-null    object
 6   height       346 non-null    float64
 7   bodyWeight   346 non-null    float64
 8   guard        346 non-null    object
 9   forward      346 non-null    object
 10  center       346 non-null    object
 11  draftYear    346 non-null    float64
 12  draftRound   345 non-null    float64
 13  draftNumber  344 non-null    float64
 14  dleague      346 non-null    object
 15  Position     346 non-null    object
dtypes: float64(5), int64(1), object(10)
memory usage: 43.4+ KB

In [176]:
dfPlayersFiltered

,personId,firstName,lastName,birthdate,school,country,height,bodyWeight,guard,forward,center,draftYear,draftRound,draftNumber,dleague,Position
0,1585,Brandon,Williams,1975-02-27,Davidson,USA,78.0,215.0,False,True,False,-1.0,-1.0,-1.0,False,Forward
1,2074,Jabari,Smith,1977-02-12,Louisiana State,USA,83.0,250.0,False,False,True,2000.0,2.0,45.0,False,Center
2,2544,LeBron,James,1984-12-30,St. Vincent-St. Mary HS (OH),USA,81.0,250.0,False,True,False,2003.0,1.0,1.0,False,Forward
3,101108,Chris,Paul,1985-05-06,Wake Forest,USA,72.0,175.0,True,False,False,2005.0,1.0,4.0,False,Guard
4,200768,Kyle,Lowry,1986-03-25,Villanova,USA,72.0,196.0,True,False,False,2006.0,1.0,24.0,False,Guard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,1631260,AJ,Green,1999-09-27,Northern Iowa,USA,77.0,190.0,True,False,False,-1.0,-1.0,-1.0,False,Guard
342,1631288,Jamal,Cain,1999-03-20,Oakland,USA,78.0,191.0,False,True,False,-1.0,-1.0,-1.0,False,Forward
343,1631306,Cole,Swider,1999-05-08,Syracuse,USA,81.0,220.0,False,True,False,-1.0,-1.0,-1.0,False,Forward
344,1631311,Lester,Quinones,2000-11-16,Memphis,USA,76.0,208.0,True,False,False,-1.0,-1.0,-1.0,False,Guard
345,1631323,Simone,Fontecchio,1995-12-09,Baskonia,Italy,79.0,209.0,False,True,False,-1.0,-1.0,-1.0,False,Forward

In [78]:
dfPlayers.to_csv('PlayersFinalClean.csv', index = False)
dfPlayersFiltered.to_csv('dfPlayersFilteredClean.csv', index = False)
mergedDfTeams.to_csv('dfTeamSalariesClean.csv', index = False)
MergedDfPlayers.to_csv('dfPlayerSalariesClean.csv', index = False)
PlayerStatistics.to_csv('PlayersStatisticsEnero.csv', index = False)
TeamStatistics.to_csv('TeamStatisticsEnero.csv', index = False)

## Cuando metimos la data en PowerBI para empezar con la analística de gráficos descubrimos que faltaba la data correspondiente a la Temporada 2023-2024 por lo que volvimos a descargar la data de Kaggle y limpiamos nuevamente los archivos de Statistics Team y Players, aplicando todos los pasos previos a las nuevas tablas

In [186]:
TeamStatistics = pd.read_csv('TeamStatisticsDescargaFebrero.csv', low_memory= False)
PlayerStatistics = pd.read_csv('PlayerStatisticsDescargaFebrero.csv')

C:\Users\andre\AppData\Local\Temp\ipykernel_29804\3496046324.py:2: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  PlayerStatistics = pd.read_csv('PlayerStatisticsDescargaFebrero.csv')

In [187]:
TeamStatistics[['Date', 'Time']] = TeamStatistics['gameDate'].str.split(' ', expand=True)
TeamStatistics['Date'] = pd.to_datetime(TeamStatistics['Date'])
TeamStatistics = TeamStatistics[TeamStatistics['Date'].dt.year >= 2000]
TeamStatistics = TeamStatistics.drop(columns=['Date', 'Time'])
TeamStatistics['gameDate'] = pd.to_datetime(TeamStatistics['gameDate'])

In [188]:
PlayerStatistics[['Date', 'Time']] = PlayerStatistics['gameDate'].str.split(' ', expand=True)
PlayerStatistics['Date'] = pd.to_datetime(PlayerStatistics['Date'])
PlayerStatistics = PlayerStatistics[PlayerStatistics['Date'].dt.year >= 2000]
PlayerStatistics = PlayerStatistics.drop(columns=['Date', 'Time'])
PlayerStatistics['gameDate'] = pd.to_datetime(PlayerStatistics['gameDate'])

In [192]:
TeamStatistics.drop(['coachId'], axis=1, inplace=True)
TeamStatistics['win'] = TeamStatistics['win'].astype(int)
TeamStatistics['home'] = TeamStatistics['home'].astype(int)

In [194]:
TeamStatistics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131174 entries, 0 to 131173
Data columns (total 47 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   gameId                   131174 non-null  int64
 1   gameDate                 131174 non-null  datetime64[ns]
 2   teamCity                 131174 non-null  object
 3   teamName                 131174 non-null  object
 4   teamId                   131174 non-null  int64
 5   opponentTeamCity         131174 non-null  object
 6   opponentTeamName         131174 non-null  object
 7   opponentTeamId           131174 non-null  int64
 8   home                     131174 non-null  int32
 9   win                      131174 non-null  int32
 10  teamScore                131174 non-null  int64
 11  opponentScore            131174 non-null  int64
 12  assists                  131172 non-null  float64
 13  blocks                   131172 non-null  float64
 14  steals                   131172 non-null  float64
 15  fieldGoalsAttempted      131172 non-null  float64
 16  fieldGoalsMade           131172 non-null  float64
 17  fieldGoalsPercentage     131172 non-null  float64
 18  threePointersAttempted   131172 non-null  float64
 19  threePointersMade        131172 non-null  float64
 20  threePointersPercentage  131172 non-null  float64
 21  freeThrowsAttempted      131172 non-null  float64
 22  freeThrowsMade           131172 non-null  float64
 23  freeThrowsPercentage     131171 non-null  float64
 24  reboundsDefensive        131172 non-null  float64
 25  reboundsOffensive        131172 non-null  float64
 26  reboundsTotal            131172 non-null  float64
 27  foulsPersonal            131172 non-null  float64
 28  turnovers                131172 non-null  float64
 29  plusMinusPoints          130252 non-null  float64
 30  numMinutes               131164 non-null  float64
 31  benchPoints              3046 non-null    float64
 32  biggestLead              3046 non-null    float64
 33  biggestScoringRun        3046 non-null    float64
 34  leadChanges              3046 non-null    float64
 35  pointsFastBreak          3046 non-null    float64
 36  pointsFromTurnovers      3046 non-null    float64
 37  pointsInThePaint         3046 non-null    float64
 38  pointsSecondChance       3046 non-null    float64
 39  timesTied                3046 non-null    float64
 40  timeoutsRemaining        3046 non-null    float64
 41  seasonWins               3046 non-null    float64
 42  seasonLosses             3046 non-null    float64
 43  q1Points                 124860 non-null  float64
 44  q2Points                 124860 non-null  float64
 45  q3Points                 124856 non-null  float64
 46  q4Points                 124848 non-null  float64
dtypes: datetime64[ns](1), float64(35), int32(2), int64(5), object(4)
memory usage: 47.0+ MB

Tenemos varias columnas de sobra porque tienen desmasiados valores nulos por lo que vamos a eliminarlas

In [199]:
columnas_a_eliminar = ['benchPoints', 'biggestLead', 'biggestScoringRun', 'leadChanges', 
                     'pointsFastBreak', 'pointsFromTurnovers', 'pointsInThePaint', 
                     'pointsSecondChance', 'timesTied', 'timeoutsRemaining', 
                     'seasonWins', 'seasonLosses']
TeamStatistics = TeamStatistics.drop(columns=columnas_a_eliminar)

In [201]:
TeamStatistics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131174 entries, 0 to 131173
Data columns (total 35 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   gameId                   131174 non-null  int64
 1   gameDate                 131174 non-null  datetime64[ns]
 2   teamCity                 131174 non-null  object
 3   teamName                 131174 non-null  object
 4   teamId                   131174 non-null  int64
 5   opponentTeamCity         131174 non-null  object
 6   opponentTeamName         131174 non-null  object
 7   opponentTeamId           131174 non-null  int64
 8   home                     131174 non-null  int32
 9   win                      131174 non-null  int32
 10  teamScore                131174 non-null  int64
 11  opponentScore            131174 non-null  int64
 12  assists                  131172 non-null  float64
 13  blocks                   131172 non-null  float64
 14  steals                   131172 non-null  float64
 15  fieldGoalsAttempted      131172 non-null  float64
 16  fieldGoalsMade           131172 non-null  float64
 17  fieldGoalsPercentage     131172 non-null  float64
 18  threePointersAttempted   131172 non-null  float64
 19  threePointersMade        131172 non-null  float64
 20  threePointersPercentage  131172 non-null  float64
 21  freeThrowsAttempted      131172 non-null  float64
 22  freeThrowsMade           131172 non-null  float64
 23  freeThrowsPercentage     131171 non-null  float64
 24  reboundsDefensive        131172 non-null  float64
 25  reboundsOffensive        131172 non-null  float64
 26  reboundsTotal            131172 non-null  float64
 27  foulsPersonal            131172 non-null  float64
 28  turnovers                131172 non-null  float64
 29  plusMinusPoints          130252 non-null  float64
 30  numMinutes               131164 non-null  float64
 31  q1Points                 124860 non-null  float64
 32  q2Points                 124860 non-null  float64
 33  q3Points                 124856 non-null  float64
 34  q4Points                 124848 non-null  float64
dtypes: datetime64[ns](1), float64(23), int32(2), int64(5), object(4)
memory usage: 35.0+ MB

In [203]:
TeamStatistics['teamName'] = TeamStatistics['teamName'].replace('Bobcats', 'Hornets')
TeamStatistics['opponentTeamName'] = TeamStatistics['opponentTeamName'].replace('Bobcats', 'Hornets')
TeamStatistics['teamName'] = TeamStatistics['teamName'].replace('SuperSonics', 'Thunder')
TeamStatistics['opponentTeamName'] = TeamStatistics['opponentTeamName'].replace('SuperSonics', 'Thunder')
PlayerStatistics['playerteamName'] = PlayerStatistics['playerteamName'].replace('Bobcats', 'Hornets')
PlayerStatistics['opponentteamName'] = PlayerStatistics['opponentteamName'].replace('Bobcats', 'Hornets')
PlayerStatistics['playerteamName'] = PlayerStatistics['playerteamName'].replace('SuperSonics', 'Thunder')
PlayerStatistics['opponentteamName'] = PlayerStatistics['opponentteamName'].replace('SuperSonics', 'Thunder')

In [205]:
Unique1 = TeamStatistics['gameId'].nunique()
Unique2 = PlayerStatistics['gameId'].nunique()

print(f"Cantidad de valores únicos en df1['ID']: {Unique1}")
print(f"Cantidad de valores únicos en df2['ID']: {Unique2}")

Cantidad de valores únicos en df1['ID']: 34232
Cantidad de valores únicos en df2['ID']: 34231

In [207]:
TeamStatistics.head()

,gameId,gameDate,teamCity,teamName,teamId,opponentTeamCity,opponentTeamName,opponentTeamId,home,win,...,reboundsOffensive,reboundsTotal,foulsPersonal,turnovers,plusMinusPoints,numMinutes,q1Points,q2Points,q3Points,q4Points
0,22400627,2025-03-19 21:00:00,Utah,Jazz,1610612762,Washington,Wizards,1610612764,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22400627,2025-03-19 21:00:00,Washington,Wizards,1610612764,Utah,Jazz,1610612762,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22400753,2025-02-09 14:00:00,Houston,Rockets,1610612745,Toronto,Raptors,1610612761,1,1,...,10.0,58.0,19.0,15.0,7.0,240.0,18.0,19.0,21.0,36.0
3,22400753,2025-02-09 14:00:00,Toronto,Raptors,1610612761,Houston,Rockets,1610612745,0,0,...,7.0,48.0,21.0,10.0,-7.0,240.0,22.0,20.0,21.0,24.0
4,22400754,2025-02-09 14:00:00,Milwaukee,Bucks,1610612749,Philadelphia,76ers,1610612755,1,1,...,19.0,53.0,18.0,12.0,8.0,240.0,40.0,25.0,38.0,32.0

Vemos que las primeras dos filas corresponden a un partido de marzo 2025 por lo que las eliminamos del dataframe

In [209]:
TeamStatistics = TeamStatistics.drop([0, 1])

In [211]:
Unique1 = TeamStatistics['gameId'].nunique()
Unique2 = PlayerStatistics['gameId'].nunique()

print(f"Cantidad de valores únicos en df1['ID']: {Unique1}")
print(f"Cantidad de valores únicos en df2['ID']: {Unique2}")

Cantidad de valores únicos en df1['ID']: 34231
Cantidad de valores únicos en df2['ID']: 34231

In [213]:
PlayerStatistics['Player'] = PlayerStatistics['firstName'].str.cat(PlayerStatistics['lastName'], sep=' ')

In [215]:
PlayerStatistics = PlayerStatistics.copy()

# Diccionario con los valores a reemplazar
replacements = {
    'Aaron rdon': 'Aaron Gordon',
    'Eric rdon': 'Eric Gordon',
    'ga Bitadze': 'Goga Bitadze',
    'Nic Claxton': 'Nicolas Claxton',
    'Rudy bert': 'Rudy Gobert',
    'Santi Aldama': 'Santiago Aldama',
    'Svi Mykhailiuk': 'Sviatoslav Mykhailiuk'
}

# Aplicar reemplazos
PlayerStatistics['Player'] = PlayerStatistics['Player'].replace(replacements)

In [217]:
PlayerStatistics.to_csv('PlayersStatisticsFebrero.csv', index = False)
TeamStatistics.to_csv('TeamStatisticsFebrero.csv', index = False)