In [3]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
from datetime import datetime

In [5]:
Players = pd.read_csv('PlayersFinalClean.csv')

In [7]:
Players

,personId,firstName,lastName,birthdate,school,country,height,bodyWeight,guard,forward,center,draftYear,draftRound,draftNumber,dleague
0,1585,Brandon,Williams,1975-02-27,Davidson,USA,78.0,215.0,False,True,False,-1.0,-1.0,-1.0,False
1,2074,Jabari,Smith,1977-02-12,Louisiana State,USA,83.0,250.0,False,False,True,2000.0,2.0,45.0,False
2,2544,LeBron,James,1984-12-30,St. Vincent-St. Mary HS (OH),USA,81.0,250.0,False,True,False,2003.0,1.0,1.0,False
3,101108,Chris,Paul,1985-05-06,Wake Forest,USA,72.0,175.0,True,False,False,2005.0,1.0,4.0,False
4,200768,Kyle,Lowry,1986-03-25,Villanova,USA,72.0,196.0,True,False,False,2006.0,1.0,24.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,1642484,RayJ,Dennis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,1642486,Boo,Buie III,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,1642502,Malevy,Leons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,1642505,Alex,Ducas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,1642530,Yuki,Kawamura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Definir condiciones
conditions = [
    Players["guard"] == True,
    Players["forward"] == True,
    Players["center"] == True
]

# Definir los valores correspondientes
choices = ["Guard", "Forward", "Center"]

# Crear la nueva columna 'Position'
Players["Position"] = np.select(conditions, choices, default="Unknown")

Players

,personId,firstName,lastName,birthdate,school,country,height,bodyWeight,guard,forward,center,draftYear,draftRound,draftNumber,dleague,Position
0,1585,Brandon,Williams,1975-02-27,Davidson,USA,78.0,215.0,False,True,False,-1.0,-1.0,-1.0,False,Forward
1,2074,Jabari,Smith,1977-02-12,Louisiana State,USA,83.0,250.0,False,False,True,2000.0,2.0,45.0,False,Center
2,2544,LeBron,James,1984-12-30,St. Vincent-St. Mary HS (OH),USA,81.0,250.0,False,True,False,2003.0,1.0,1.0,False,Forward
3,101108,Chris,Paul,1985-05-06,Wake Forest,USA,72.0,175.0,True,False,False,2005.0,1.0,4.0,False,Guard
4,200768,Kyle,Lowry,1986-03-25,Villanova,USA,72.0,196.0,True,False,False,2006.0,1.0,24.0,False,Guard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,1642484,RayJ,Dennis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
573,1642486,Boo,Buie III,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
574,1642502,Malevy,Leons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
575,1642505,Alex,Ducas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
576,1642530,Yuki,Kawamura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown

In [31]:
Players.to_csv('PlayersFinalPosition.csv', index = False)